@charset "utf-8";
/* CSS Document */
/*
 * Developed By Sajan Dhungana and Designed by Nitesh Kumar Mandal
 * -----------------------------
/*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  background: #c8c8c8;
  color: #efefef;
  font: 14px/20px "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

#wrapper {
  width: 100%;
  height: 100%;
  background: #c8c8c8;
  margin: 0 auto;
}

#top_nap {
  float: left;
  width: 100%;
  height: 3em;
  background: #f5f5f5;
  color: #303030;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

#top_nap .top_left {
  float: left;
  width: 300px
}
#top_nap .top_left p {
  padding: 0.67em 0;
}
#top_nap .top_left a {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
#top_nap .top_center {
  float: left;
  width: calc(100% - 540px);
  height: 3em;
}

#top_nap .top_right {
  float: left;
}

#top_nap p {
  text-align: center;
  padding: 1em 0;
}
ul {
  margin: 0;
  padding: 0;
}
#top_nap .top_right ul {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
/* #top_nap .top_right ul .msg {
  width: calc(100% - 200px);
} */
#top_nap .top_right ul li {
  display: block;
}
#top_nap .top_right > ul {
  padding: 1em 0;
  list-style: none;
}

#top_nap .top_right > ul li:hover ul {
  display: block;
}

#top_nap .top_right > ul ul {
  list-style: none;
  display: none;
  background: #CA7F1C;
  margin-top: 8px;
  position: relative;
  right: 10px;
}

#top_nap .top_right > ul ul li {
  border-bottom: 1px solid #fff;
}

#top_nap .top_right > ul ul a {
  padding: 0.5rem 1rem;
  display: block;
  color: #f5f5f5;
}

#top_nap .top_right > ul ul a:hover {
  background: #141414;
}

#top_nap .top_left a img {width:100px;}
/*
activity section
*/
#activity_section {
  width: 100%;
  float: left;
  min-height: calc(100% - 3em);
  margin-top: 3em;
  background: #f1f1f1;
}

/*
leftnav 
*/

#left_nav {
  float: left;
  width: 15%;
  background:#FBA949;
  display: flex;
  flex-direction: column;
  min-height: 709px;
  height: 100vh;
}

#left_nav ul {
  width: 100%;
  float: left;
  border-bottom: 1px solid #F8A646;
  border-top: 1px solid #9D5A00;
}

#left_nav li {
  clear: left;
  width: 100%;
  /* border-top: 1px solid #9D5A00; */
  border-bottom: 1px solid #9D5A00;
}

#left_nav li i {
  padding: 0 3% 0 5%;
}

#left_nav li a {
  display: block;
  padding: 1em 0;
}

#left_nav .sidebar-menu li a:hover {
  padding-left: 2%;
  color: #fff;
}

#left_nav li li {
  width: 100%;
  background: #9D5A00;
  list-style-type: none;
}

#left_nav li li a {
  padding: 0.5em 5% 0.5em 15%;
  font-size: 12px;
}

#left_nav ul ul {
  #background: white;
  border: none;
}

#left_nav ul li:hover,
#left_nav .selected {
  background: #723600;
  list-style-type: none;
  color: #fff;
}

.treeview-menu li,
.single_view {
  position: relative;
}

ul.type {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  border-left: 1px solid #9D5A00;
}

.treeview-menu li ul li a {
  background: #F8A646;
}
.treeview-menu li ul li a:hover {
  background: #9D5A00;
  color: #fff;
}
.treeview-menu li ul a:hover {
  padding-left: 5%;
}

#left_nav .treeview-menu li:hover ul.type,
#left_nav .single_view:hover ul.type {
  display: block;
}

#left_nav .single_view ul.type a {
  padding: 0.5em 5% 0.5em 15%;
}

#left_nav .single_view ul.type a:hover {
  padding-left: 4%;
}

ul.type li {
  position: relative;
}

ul.type ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  border-left: 1px solid #000;
}

#left_nav ul.type li:hover ul.last {
  display: block;
}

#admin_search {
  width: 100%;
  height: auto;
}

#admin_search p {
  margin: 5% 0 0 10%;
}

#admin_search form {
  padding: 5% 3%;
  float: left;
  width: 96%;
}

.sidebar-form input[type="text"] {
  float: left;
  width: 80%;
  height: 35px;
  border: none;
  color: #000;
  border-radius: 2px 0 0 2px;
}

.sidebar-form button[type="submit"] {
  float: left;
  background: none;
  border: none;
  width: 15%;
  height: 35px;
  background: #fff;
  color: #000;
  border-radius: 0px 2px 2px 0px;
}

/*
respons_section
*/
#respons_section {
  float: right;
  width: 85%;
  min-height: 100%;
}

#response_nav {
  background: #141414;
  margin: -15px -15px 0 -15px;
}

#response_nav li {
  display: inline-block;
  padding: 15px;
  color: #fff;
}

#response_nav a:hover {
  display: block;
  color: #00a8c6;
}

#mainContent_response {
  float: left;
  min-height: 100%;
  width: 100%;
  color: #000;
  padding: 15px;
  box-sizing: border-box;
}

#response_msg {
  text-align: center;
  padding-bottom: 15px;
}

#response_msg p {
  padding: 1em;
  background: #fff;
  font-weight: bold;
}

.success {
  border: 1px solid #008013;
  color: #008013;
}

.fail {
  border: 1px solid #8a0000;
  color: #8a0000;
}

/*--------welcome_article ---------------------*/
#welcome_article {
  padding: 10px 0 0 5px;
  font-size: 1.2em;
  color: #210c0c;
}

#welcome_article h4 {
  color: #270e0e;
  font-size: 1.3em;
  font-weight: bold;
  padding: 5px 10px;
}

#welcome_article h3 {
  color: #170909;
  font-size: 1.5em;
  padding: 0 10px;
}
#welcome_article h5 {
  color: #170909;
  font-size: 1em;
  padding: 0 10px;
}
#welcome_article P {
  padding: 3px 10px;
  font-size: 12px;
}

/*

admin all form

*/
.form {
  background: #fff;
  margin: 0 15px;
}

.form legend {
  display: block;
  float: left;
  color: #270e0e;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.5em 1%;
}

.form .view_items {
  float: left;
  width: 98%;
  margin: 0 1%;
}

.form .view_labels {
  width: 100%;
  padding: 0.5em 0;
}

.form .view_labels label {
  display: block;
  font-size: 0.9em;
  color: black;
}

.form .view_labels label:after {
  content: "  ";
}

.form .view_elements {
  width: 60%;
}

.form .view_elements input,
.form .view_elements select {
  width: calc(50% - 4% - 2px);
  background: none;
  padding: 0.5em 1%;
  #background: linear-gradient(#f5f5f5, #f9f9f9);
  background: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  border-radius: 0.2em;
  margin-bottom: 10px;
  color: #505050;
}

.form .view_elements option {
  float: left;
  display: block;
}

.form input[type="submit"],
.form input[type="button"] {
  padding: 0.6em 2%; 
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  border-radius: 0.3em;
  margin-bottom: 20px;
  color: #fff;
  cursor: pointer;
}
.form input[type="submit"] {
  background: linear-gradient(#00BBD9, #02cdec);
  background: rgba(45, 98, 152, 0.8);
  border: 1px solid rgba(45, 98, 152, 0.8);
}
.form input[type="button"] {
  background: rgba(255, 87, 51, 0.8);
  border: 1px solid  rgba(255, 87, 51, 0.8);
}
.form input[type="submit"]:hover{
  background: rgba(45, 98, 152, 1);
}
.form input[type="button"]:hover {
  background: rgba(255, 87, 51, 1);
}
.form .view_elements textarea {
  width: 60%;
  color:#505050;
  font-size: 90%;
  padding: 5px;
  border-color: #ddd;
  border-radius: 0.2em;
}
.form .checkbox {
  padding: 10px 0;
  cursor: pointer;
}
.form .view_elements input[type="checkbox"] {
  width: auto;
  margin: 3px 10px 0 0;
}
.groupOption {
  background: #4e5156;
}

/*list */
#list {
}
ul.action-list {
  list-style: none;
  padding: 0;
  min-width: 130px;
}
ul.action-list li {
  position: relative;
}
ul.action-list li:hover {
  color: white;
}
ul.action-list li:hover ul {
  display: block;
}
ul.action-list ul {
  position: absolute;
  left: 0;
  top: -10px;
  list-style: none;
  display: none;
}
#list .list_select_blog {
  float: left;
  width: 100%;
  margin-top: 15px;
}

#list .list_select_blog select {
  background: none;
  padding: 0.5em 0.5%;
  #background: linear-gradient(#1f2124, #27292c);
  background: #27292c;
  border: 1px solid #222;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  border-radius: 0.3em;
  margin-bottom: 20px;
  color: #fff;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}

#list table {
  width: 100%;
  border: 1px solid #cacaca;
}

#list table thead {
  background: #e1e1e1;
  border: 1px solid #cacaca;
}

#list table th {
  #border: 1px solid #cacaca;
  color: #000;
  padding: 0.7em 1em;
  font-weight: bold;
  text-align: left;
}

#list table th a {
  color: #8f92ef;
}

#list table td {
  #border: 1px solid #cacaca;
  #text-transform: capitalize;
  padding: 1em 1em;
  color: #000;
}

#list table td a {
  color: #0d82c3;
  text-decoration: underline;
  font-weight: normal;
  display: inline-block;
  margin-right: 5px;
}
#list table td a.confirm-delete {
  color: red;
}
#list table a:hover {
  text-decoration: none;
  color: #fffffe;
}

#list table tbody a:hover {
  text-decoration: none;
  color: #000000;
}

#list table tr:nth-of-type(2n + 2) {
  background: #cacaca;
}

#list table tr {
  #border: 1px solid #151400;
}

#list table tbody tr:hover {
  background: #fafafa;
}

#list table tbody img {
  margin-right: 5px;
}

#list .id {
  width: 4%;
}

#list .active {
  width: 10%;
}

#list .action {
  width: 15%;
}

#list .list_nav {
  float: left;
  width: 100%;
  height: auto;
  color: #064668;
  padding: 0.3em 0;
}

.list_nav a,
.list_nav strong {
  padding: 0.3em 15px;
  display: block;
  float: left;
}

.list_nav a {
  background: #00D4BA;
  color: #000;
  border-radius: 2px;
}

.list_nav a:hover {
  background: #c0c0c0;
  color: #064668;
}
/* ADMIN DASHBOARD HOME PAGE */
.highlight-data-wrap {
  margin: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}
.feature-data-wrap {
  margin: 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}
.highlight-data {
  background: #fff;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.highlight-data:hover {
  margin-top: -5px;
}
.highlight-data a {
  display: block;
  color: #fff;
}
.text-center {
  text-align: center;
}
.yellow-widget {
  background-color: #ffbc00;
}
.red-widget {
  background-color: #fa5c7c;
}
.green-widget {
  background-color: #0acf97;
}
.blue-widget {
  background-color: #11ABEF;
}
.purple-widget {
  background-color: #5E72E4;
}
.orange-widget {
  background-color: #FB8C40;
}
.ltBlue-widget {
  background-color: #11CDEF;
}
.highlight-data i {
  width: 44px;
  height: 44px;
  line-height: 46px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  font-size: 16px;
  margin-bottom: 15px;
  color: #fff;
}
.highlight-data .title {
  font-size: 15px;
  font-weight: 700;
  display: block;
}
.highlight-data .sub-title {
  font-size: 12px;
  opacity: 0.7;
  display: block;
}

/* START OF PROFILE RIGHT SIDE PAGE */
.messegeNo {
  padding: 5px 10px;
  border-radius: 50%;
  color: #F79420;
  font-size: 12px;
  cursor: pointer;
}
.messegeNo i {
  margin-right: 5px;
  font-size: 16px;
}
.messegeNo span {
  top: -10px;
  background: #F79420;
  border-radius: 50%;
  padding: 3px 7px;
  line-height: 12px;
  color: #fff;
  position: relative;
  right: 8px;
}
.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

.card.hovercard .cardheader {
  background: url("http://lorempixel.com/850/280/nature/4/");
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 25px 8px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .address{
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
  margin-top: 5px;
}
.card.hovercard .info .company{
  overflow: hidden;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
  margin-top: 25px;
}
.card.hovercard .info .contact{
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
  margin-top: 5px;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
/* END OF PROFILE RIGHT SIDE PAGE */
#activity_section.agent-profile #respons_section {
  display: flex;
}
#activity_section.agent-profile #respons_section .form {
  width: 70%;
    margin-top: 30px;
    margin-left: 15px;
}
.right-profile {
  width: 30%;
  padding: 20px 15px 15px;
}
#activity_section.agent-profile #respons_section .form .view_elements {
  width: 100%;
}
.profile-det {
  width: calc(100% - 150px);
  float: right;
}
.dash-right {
  float: right;
  width: 85%;
  min-height: 100%;
}
.data-table {
  background: #fff;
  margin: 0 15px 15px;
  padding: 10px;
  border: 1px solid #ccc;
  display: grid;
}
.dataTable {
  color: #303030;
}
.dataTable thead tr {
  background: #f9f9f9;
}
.dataTable tr {
  border: 1px solid #ddd;
}
.dataTable th {
  background: #f5f5f5;
  padding: 10px 2px;
  text-align: left;
}
.dataTable td {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 2px;
}
.dataTable a {
  color: #2196F3;
  margin-right: 5px;
}
.dataTable a:hover {
  text-decoration: underline;
}
.dataTable .active {
  color: green;
}
.dataTable .inactive {
  color: red;
}
.mt15 {
  margin-top: 15px;
}
.ml30 {
  margin-left: 30px;
}
.data-table-title {
  display: block;
  color: #270e0e;
  font-size: 1.3em;
  font-weight: bold;
  padding: 1em 1.25%;
}
/* PROPERTY DETAIL PAGE */
.property-img {
  width: 30%;
  margin-right: 20px;
}
.property-img img {
  max-width: 100%;
}
.property-det-wrap {
  display: flex;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
.property-det {
  width: 70%;
}
.property-det ul {
  display: block;
}
.property-det ul li {
  width: 50%;
  display: block;
  float: left;
  color: #909090;
  list-style-type: none;
  font-size: 13px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.property-det ul li span {
  display: block;
  color: #303030;
}
.property-titlebar {
  display: flex;
  padding: 0px 0 10px;
}
.property-price {
  max-width: 200px;
  font-size: 24px;
  color: #000;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  padding-right: 15px;
  border-right: 1px solid #ddd;
}
.property-title-wrap {
  padding-left: 15px;
  max-width: 100%;
}
.property-title {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  padding-bottom: 6px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-family: 'Raleway', sans-serif;
}
.property-purpose {
  font-size: 12px;
  color: #303030;
  font-family: Arial, Helvetica, sans-serif;
}
.property-desc-title {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
.property-desc {
  color: #606060;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.property-desc p {
  margin-top: 10px;
}
.property-count {
  color: #303030;
  width: 100px;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
}
.views-count {
  color: #909090;
  display: block;
  font-size: 12px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
#myModal .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#myModal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#myModal #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
#myModal .modal-content, #myModal #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.alert-success {
  color: #0f5132;
  display: inline-block;
  margin: 0px auto;
  position: fixed;
  transition: all 0.5s ease-in-out 0s;
  z-index: 1031;
  top: 57px;
  right: 20px;
  width: 50%;
}
button.close {
  float: right;
  font-size: 28px;
  background: transparent;
  border: unset;
}
#myModal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#myModal .close:hover,
#myModal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  #myModal .modal-content {
    width: 100%;
  }
}
/* END PROPERTY DETAIL PAGE */

.download-file {
  font-size: 20px;
  color: #F7931E;
  cursor: pointer;
}
.download-file:hover {
  color: #7C490F;
}
/* SWITCH BUTTON */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* END SWITCH BUTTON */

/* modal */
/* The Modal (background) */
.property-det-wrap .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.property-det-wrap .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 700px;
}

/* The Close Button */
.property-det-wrap .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.property-det-wrap .close:hover,
.property-det-wrap .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.property-det-wrap .propertyImgSlides {
  display: none;
}

/* Next & previous buttons */
.property-det-wrap .prev,
.property-det-wrap .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.property-det-wrap .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.property-det-wrap .prev:hover,
.property-det-wrap .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Number text (1/3 etc) */
.property-det-wrap .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.property-det-wrap .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.property-det-wrap img.demo {
  opacity: 0.6;
}

.property-det-wrap .active,
.property-det-wrap .demo:hover {
  opacity: 1;
}

.property-det-wrap img.hover-shadow {
  transition: 0.3s;
}

.property-det-wrap .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.property-det-wrap .outerImg img {
  display: none;
}
.property-det-wrap .outerImg img:first-child {
  display: block;
  cursor: pointer;
}
.property-det-wrap .thumb-wrap {
  text-align: center;
  background: #000;
  padding-top: 5px;
}
.property-det-wrap .thumb-wrap img {
  max-width: 80px;
  max-height: 80px;
}
.property-det-wrap .numPhotos {
  margin-top: -30px;
  background: rgba(0,0,0, 0.6);
  position: relative;
  padding: 5px 10px;
  display: table;
}
/* MESSAGE INBOX SECTION  */
.mail-box {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 97%;
  margin: 15px;
}
.mail-box aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top;
}
.mail-box .sm-side {
  background: none repeat scroll 0 0 #e5e8ef;
  border-radius: 4px 0 0 4px;
  width: 25%;
}
.mail-box .lg-side {
  /* background: none repeat scroll 0 0 #fff; */
  border-radius: 0 4px 4px 0;
  width: 75%;
}
.mail-box .sm-side .user-head {
  background: none repeat scroll 0 0 #00a8b3;
  border-radius: 4px 0 0;
  color: #fff;
  min-height: 80px;
  padding: 10px;
}
.user-head .inbox-avatar {
  float: left;
  width: 65px;
}
.user-head .inbox-avatar img {
  border-radius: 4px;
}
.user-head .user-name {
  display: inline-block;
  margin: 0 0 0 10px;
}
.user-head .user-name h5 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 15px;
}
.user-head .user-name h5 a {
  color: #fff;
}
.user-head .user-name span a {
  color: #87e2e7;
  font-size: 12px;
}
a.mail-dropdown {
  background: none repeat scroll 0 0 #80d3d9;
  border-radius: 2px;
  color: #01a7b3;
  font-size: 10px;
  margin-top: 20px;
  padding: 3px 5px;
}
/* .inbox-body {
  padding: 20px;
} */
.btn-compose {
  background: none repeat scroll 0 0 #ff6c60;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  width: 100%;
}
.btn-compose:hover {
  background: none repeat scroll 0 0 #f5675c;
  color: #fff;
}
ul.inbox-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.inbox-divider {
  border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
  display: inline-block;
  line-height: 45px;
  width: 100%;
}
ul.inbox-nav li a {
  color: #6a6a6a;
  display: inline-block;
  line-height: 45px;
  padding: 0 20px;
  width: 100%;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a;
}
ul.inbox-nav li a i {
  color: #6a6a6a;
  font-size: 16px;
  padding-right: 10px;
}
ul.inbox-nav li a span.label {
  margin-top: 13px;
}
ul.labels-info li h4 {
  color: #5c5c5e;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: uppercase;
}
ul.labels-info li {
  margin: 0;
}
ul.labels-info li a {
  border-radius: 0;
  color: #6a6a6a;
}
ul.labels-info li a:hover, ul.labels-info li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a;
}
ul.labels-info li a i {
  padding-right: 10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
  color: #9d9f9e;
  font-size: 11px;
  margin-bottom: 0;
  padding: 0 22px;
}
.inbox-head {
  background: none repeat scroll 0 0 #41cac0;
  border-radius: 0 4px 0 0;
  color: #fff;
  min-height: 80px;
  padding: 20px;
}
.inbox-head h3 {
  display: inline-block;
  font-weight: 300;
  margin: 0;
  padding-top: 6px;
}
.inbox-head .sr-input {
  border: medium none;
  border-radius: 4px 0 0 4px;
  box-shadow: none;
  color: #8a8a8a;
  float: left;
  height: 40px;
  padding: 0 10px;
}
.inbox-head .sr-btn {
  background: none repeat scroll 0 0 #00a6b2;
  border: medium none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  height: 40px;
  padding: 0 20px;
}
.table-inbox {
  border: 1px solid #d3d3d3;
  margin-bottom: 0;
}
.table-inbox tr td {
  padding: 12px !important;
}
.table-inbox tr td:hover {
  cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
  color: #f78a09;
}
.table-inbox tr td .fa-star {
  color: #d5d5d5;
}
.table-inbox tr.unread td {
  background: none repeat scroll 0 0 #f7f7f7;
  font-weight: 600;
}
ul.inbox-pagination {
  float: right;
}
ul.inbox-pagination li {
  float: left;
}
.mail-option {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
.mail-option .chk-all, .mail-option .btn-group {
  margin-right: 5px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 10px;
}
.inbox-pagination a.np-btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 15px;
}
.mail-option .chk-all input[type="checkbox"] {
  margin-top: 0;
}
.mail-option .btn-group a.all {
  border: medium none;
  padding: 0;
}
.inbox-pagination a.np-btn {
  margin-left: 5px;
}
.inbox-pagination li span {
  display: inline-block;
  margin-right: 5px;
  margin-top: 7px;
  color: #303030;
}
.fileinput-button {
  background: none repeat scroll 0 0 #eeeeee;
  border: 1px solid #e6e6e6;
}
.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
  border: 1px solid #e6e6e6;
  box-shadow: none;
}
.btn-send, .btn-send:hover {
  background: none repeat scroll 0 0 #00a8b3;
  color: #fff;
}
.btn-send:hover {
  background: none repeat scroll 0 0 #009da7;
}
.modal-header h4.modal-title {
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}
.modal-body label {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
}
.heading-inbox h4 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.sender-info {
  margin-bottom: 20px;
}
.sender-info img {
  height: 30px;
  width: 30px;
}
.sender-dropdown {
  background: none repeat scroll 0 0 #eaeaea;
  color: #777;
  font-size: 10px;
  padding: 0 3px;
}
.view-mail a {
  color: #ff6c60;
}
.attachment-mail {
  margin-top: 30px;
}
.attachment-mail ul {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}
.attachment-mail ul li {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 150px;
}
.attachment-mail ul li img {
  width: 100%;
}
.attachment-mail ul li span {
  float: right;
}
.attachment-mail .file-name {
  float: left;
}
.attachment-mail .links {
  display: inline-block;
  width: 100%;
}

.fileinput-button {
  float: left;
  margin-right: 4px;
  overflow: hidden;
  position: relative;
}
.fileinput-button input {
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-300px, 0px) scale(4);
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.fileupload-processing .fileupload-loading {
  display: block;
}
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}
* + html .fileinput-button {
  margin: 1px 0 0;
  padding: 2px 15px;
}
@media (max-width: 767px) {
.files .btn span {
  display: none;
}
.files .preview * {
  width: 40px;
}
.files .name * {
  display: inline-block;
  width: 80px;
  word-wrap: break-word;
}
.files .progress {
  width: 20px;
}
.files .delete {
  width: 60px;
}
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* MESSAGE INBOX SECTION  */

/* MESSAGE DETAIL PAGE */
.inbox-detail-container {
  background: #fff;
  padding: 15px 20px;
  min-height: calc(100vh - 3em);
}
.notice-detail {
  max-width: 700px;
  margin: 0 auto;
}
.notice-header {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.notice-header img {
  width: 170px;
}
.notice-body {
  padding: 30px 0;
  color: #303030;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-notice {
  border-collapse: collapse;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  border: solid 1px #ee8d1e;
  background: rgb(247,147,30, 0.7);
  padding: 7px 16px 11px 16px;
  margin-top: 20px;
  color: #fff;
  margin-bottom: 30px;
}
.btn-notice:hover {
  background: rgb(247,147,30, 0.9);
  color: #fff;
}
.notice-footer {
  padding-top: 30px;
  font-size: 11px;
  color: #bbb;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid lightgray;
}
.notice-footer div {
  margin-bottom: 15px;
  line-height: 15px;
}
/* END MESSAGE DETAIL PAGE */