/*
 * Core: General Layout Style
 * -----------------------------
/*/
/*
 * Component: Global styles
 * -----------------------------
/*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i");
html, body {
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #686d6f;
  background: #fff;
  margin: 0;
  padding: 0;
  font-weight: 400;
  word-wrap: break-word;
}

/*
 * Component: Typography
 * -----------------------------
/*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: bold;
}

h1 {
  font-size: 10px;
  font-size: 1rem;
  color: #2d6298;
  font-size: 25px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

p {
  margin: 0;
  font-weight: 400;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.no-margin {
  margin: 0 !important;
}

/* LAYOUTS - Page layout styles */
/* main-header
--------------------------------------------------*/
.main-header {
  position: relative;
}

.main-header .logo {
  position: absolute;
  top: 5px;
  left: 15px;
  max-width: 130px;
  z-index: 9;
}

.top-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-bar li {
  display: inline-block;
}

.top-bar li a {
  padding: 10px 15px;
  font-size: 12px;
  display: block;
  color: #686d6f;
}

/*
 * Navbar navbar-default
 * -----------------------------
/*/
.navbar-default {
  border-color: #2d6298;
  border-right: none;
  border-left: none;
  background: transparent;
  margin: 0;
  border-radius: 0;
  min-height: 0;
}

.navbar-default a {
  font-weight: bold;
}

.navbar-default .navbar-toggle {
  border: none;
  margin: 0;
  width: auto;
  float: right;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: transparent;
}

.navbar-default .navbar-right {
  padding-left: 120px;
}

.navbar-toggle .icon-bar {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 30px;
  height: 4px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -7px);
}

/*
 * Main footer
 * -----------------------------
/*/
.main-footer {
  background: #242424;
  padding: 30px 0 15px;
}

.main-footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2d6298;
}

.main-footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}

.main-footer ul a {
  padding: 2px 0;
  display: block;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: #fff;
}

.main-footer ul a:hover {
  padding-left: 5px;
}

.copyright {
  border-top: 1px solid #d6d6d6;
  padding-top: 15px;
  margin-top: 15px;
}

.copyright p {
  padding: 0;
  text-align: center;
}

/*
 * Main sidebar
 * -----------------------------
/*/
/* widget
--------------------------------------------------*/
.widget {
  clear: both;
  margin-bottom: 20px;
}

.widget > h2 {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #2d6298;
  border-bottom: 1px solid #f7a600;
}

.widget .inner {
  background: #f6f6f6;
  padding: 15px;
}

.widget-list ul {
  list-style: none;
  padding: 0;
}

.widget-list li {
  position: relative;
  padding: 5px 0 5px 25px;
}

.widget-list li a:before {
  display: inline-block;
  font-family: FontAwesome;
  content: '\f041';
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 5px;
  font-size: 30px;
  color: #242424;
}

.widget-list li a:hover:before {
  color: #f7a600;
}

.widget-list li span {
  display: block;
  color: #2d6298;
}

.widget-list li span.text-right {
  color: #f7a600;
}

.widget.tags ul {
  padding: 0;
  list-style: none;
}

.widget.tags ul li {
  display: inline-block;
  margin: 2px 1px;
}

.widget.tags ul a {
  background: #2d6298;
  padding: 5px 10px;
  display: block;
  color: #fff;
}

.widget.tags ul a:hover {
  background: #336fac;
}

.widget.tabs .nav a {
  background: #f7a600;
  border: none;
  color: #fff;
  font-weight: bold;
}

.widget.tabs li.active a {
  background: #2d6298;
}

.widget.tabs .nav-justified > li {
  width: 50%;
  float: left;
}

.widget-items .item {
  position: relative;
  min-height: 65px;
  border-bottom: 1px dashed #2d6298;
  padding-bottom: 10px;
  margin: 10px 0;
}

.widget-items .item:last-child {
  border: none;
  margin-bottom: 0;
  padding: 0;
}

.widget-items .item-img {
  position: absolute;
  width: 80px;
  height: 55px;
  top: 0;
  left: 0;
}

.widget-items .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.widget-items .item-content {
  padding-left: 88px;
}

.widget-items .item-content h2 {
  font-size: 15px;
  color: #2d6298;
  margin-bottom: 5px;
}

.widget-items .item-content h2 a:hover {
  color: #c48400;
}

.widget-items .item-content p {
  color: #242424;
  font-style: italic;
}

a.view-all {
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: underline;
  padding: 10px 0 10px 0;
  color: #f7a600;
  background: #2d6298;
  margin-top: 8px;
}

a.view-all:hover {
  text-decoration: none;
}

.widget.ads .row {
  margin: 0 -5px;
}

.widget.ads .row .col-xs-6 {
  padding: 0 5px;
}

.widget.ads img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* MODULES - Individual site components */
/* ==========================================================================
   Sections
   ========================================================================== */
/* banner
--------------------------------------------------*/
.main-banner {
  background-size: cover;
  position: relative;
}

.main-banner:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(36, 36, 36, 0.7);
}

.search-form {
  max-width: 767px;
  margin: 200px auto 50px;
  padding: 15px;
  background: rgba(45, 98, 152, 0.9);
  border-radius: 10px;
  position: relative;
}

.search-form h2, .search-form p {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.search-form .btn-button {
  background: #fff;
  color: #2d6298;
  border-radius: 4px;
  height: 40px;
}

.search-form .btn-button:hover {
  background: #fff;
  color: #f7a600;
}

/* list-feature
--------------------------------------------------*/
.list-feature h2 {
  font-weight: normal;
  margin-bottom: 10px;
}

.feature-items .item-wrap {
  background: #f6f6f6;
  margin: 15px 0;
}

.feature-items .item-img {
  margin-bottom: 10px;
  height: 190px;
  position: relative;
}

.feature-items .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature-items .item-img strong {
  position: absolute;
  font-weight: normal;
  padding: 5px 10px;
  top: 5px;
  right: 0;
  color: #fff;
  background: rgba(45, 98, 152, 0.8);
  font-size: 0.8em;
}

.feature-items .item-img span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px 12px;
  background: rgba(36, 36, 36, 0.7);
  color: #fff;
  font-size: 0.9em;
}

.feature-items .item-title {
  padding: 0 10px 10px;
  border-bottom: 1px dashed #d6d6d6;
  font-size: 14px;
}

.feature-items .item-title p {
  padding: 0;
}

.feature-items .item-title i {
  display: block;
  float: left;
  padding-top: 4px;
  min-width: 25px;
  color: #f7a600;
}

.feature-items .item-content {
  padding: 15px 10px;
  height: 71px;
}

.feature-items .item-content h3 {
  padding: 0;
  color: #2d6298;
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}

.feature-items .item-footer {
  border-top: 1px dashed #d6d6d6;
  text-align: center;
}

.feature-items .item-footer a {
  padding: 15px 10px;
  color: #f7a600;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.feature-items .item-footer a:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: -100%;
  bottom: 15px;
  background: #2d6298;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.feature-items .item-footer a:hover {
  color: #2d6298;
}

.feature-items .item-footer a:hover:after {
  left: 0;
}

/* list-category
--------------------------------------------------*/
.list-category {
  padding-bottom: 50px;
  text-align: center;
}

.list-category i {
  font-size: 50px;
  padding-bottom: 15px;
  color: #2d6298;
}

.list-category a {
  display: block;
  color: #2d6298;
  margin-bottom: 5px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.list-category a:hover {
  margin-top: 5px;
  margin-bottom: 0;
  border-bottom: none;
}

.social-links strong {
  font-weight: normal;
  font-size: 20px;
}

.social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.social-links li {
  display: inline-block;
}

.social-links a {
  display: block;
  font-size: 20px;
  padding: 10px;
}

.social-links a:hover {
  margin: 0;
  color: #f7a600;
}

/* main-content
--------------------------------------------------*/
.main-content {
  padding: 60px 0;
}

/* inner-search-form
--------------------------------------------------*/
.inner-search-form {
  background: #fca900;
  padding: 25px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.inner-search-form .form-control {
  border-radius: 0;
  height: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #d6d6d6;
}

/* single-article
--------------------------------------------------*/
.single-article .item-feature ul {
  list-style: none;
  padding: 0;
}

.single-article .item-feature li {
  padding: 5px 0;
}

.single-article .item-feature li:before {
  content: '\21D2';
  display: inline-block;
  padding-right: 10px;
  color: #f7a600;
}

.single-article h2 {
  margin: 25px 0 10px 0;
}

.single-article .tab-nav {
  margin-top: 15px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  z-index: 9;
  position: relative;
}

.single-article .tab-nav li {
  display: inline-block;
  background: #fff;
}

.single-article .tab-nav li.active a {
  border-bottom-color: transparent;
  color: #2d6298;
}

.single-article .tab-nav a {
  border: 1px solid #d6d6d6;
  padding: 7px 15px;
  display: inline-block;
}

.single-article .tab-content {
  border: 1px solid #d6d6d6;
  padding: 15px;
  margin-top: -1px;
}

.single-article .tab-content h2 {
  margin-top: 10px;
}

.single-article .title-view-full a {
  margin: 15px 0 5px;
  display: inline-block;
  color: #2d6298;
  text-decoration: underline;
}

.single-article .title-view-full a i {
  padding-right: 5px;
  text-decoration: none;
}

.single-article .floorplan img {
  width: 100%;
}

.single-article .map-street h4 {
  margin: 10px 0 0;
}

.single-article .map-street p {
  font-size: 13px;
}

.article-title {
  padding: 10px 0 15px;
}

.article-title h1 {
  margin-bottom: 5px;
  color: #2d6298;
}

.article-title p {
  font-size: 18px;
  padding-bottom: 5px;
  color: #f7a600;
}

.article-title p strong {
  color: #2d6298;
}

.disclaimer-content {
  margin-top: 15px;
  font-size: 13px;
}

.disclaimer-content strong {
  font-size: 16px;
  color: #f7a600;
}

.main-sidebar .property-info {
  border: 1px solid #d6d6d6;
}

.main-sidebar .property-info .inner {
  background: transparent;
  padding: 15px 0 0 0;
}

.main-sidebar .property-info strong {
  color: #f7a600;
  font-weight: normal;
}

.main-sidebar .property-info .property-img img {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.main-sidebar .property-info .view-agent {
  text-decoration: underline;
}

.main-sidebar .property-info .view-agent:hover {
  text-decoration: none;
}

.main-sidebar .property-info p {
  padding: 0 15px 10px 15px;
}

.main-sidebar .property-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-sidebar .property-info li {
  border-top: 1px dashed #d6d6d6;
  padding: 15px 15px;
}

.main-sidebar .property-info li p {
  padding: 0;
}

.main-sidebar .property-info li a:hover i {
  color: #2d6298;
  -webkit-animation: fadeInDown 0.4s linear;
  animation: fadeInDown 0.4s linear;
}

.main-sidebar .property-info li i {
  padding-right: 10px;
}

.main-sidebar .property-info li .fa-heart-o {
  color: red;
}

.main-sidebar .property-info .social-links li {
  border: none;
  padding: 0;
  margin: 5px 5px 0 0;
}

.main-sidebar .property-info .social-links a {
  text-align: center;
  border: 1px solid #2d6298;
  width: 40px;
  height: 40px;
}

.main-sidebar .property-info .social-links a.fa-facebook {
  color: #3b5999;
  border-color: #3b5999;
}

.main-sidebar .property-info .social-links a.fa-facebook:hover {
  background: #3b5999;
  color: #fff;
}

.main-sidebar .property-info .social-links a.fa-twitter {
  color: #5aadde;
  border-color: #5aadde;
}

.main-sidebar .property-info .social-links a.fa-twitter:hover {
  background: #5aadde;
  color: #fff;
}

.main-sidebar .property-info .social-links a.fa-google-plus {
  color: #cf2128;
  border-color: #cf2128;
}

.main-sidebar .property-info .social-links a.fa-google-plus:hover {
  color: #fff;
  background: #cf2128;
}

.main-sidebar .property-info .request-details {
  text-align: center;
}

.main-sidebar .property-info .request-details .btn-button {
  margin-bottom: 10px;
}

.main-sidebar .property-info .request-details .btn-button:hover {
  text-decoration: none;
}

.main-sidebar .property-info .request-details a:hover {
  text-decoration: underline;
}

/*post-listing
--------------------------------------------------*/
.post-listing .item {
  border-bottom: 1px dashed #2d6298;
  padding: 15px 0;
}

.post-listing .item:after {
  content: '';
  display: block;
  clear: both;
}

.post-listing .item-img {
  width: 30%;
  float: left;
  margin-right: 5%;
}

.post-listing .item-content h2 {
  color: #2d6298;
  font-size: 17px;
}

.post-listing .item-content p a {
  color: #f7a600;
}

.post-listing .item-content p a:hover {
  text-decoration: underline;
}

.post-listing .item-content .meta a {
  text-decoration: underline;
  color: #686d6f;
}

/*overseas-listing
--------------------------------------------------*/
.overseas-listing .item {
  border-bottom: 1px dashed #2d6298;
  padding: 15px 0;
}

.overseas-listing .item:after {
  content: '';
  display: block;
  clear: both;
}

.overseas-listing .item-img {
  width: 25%;
  float: left;
  padding-right: 15px;
}

.overseas-listing .item-img span {
  padding-top: 3px;
  display: inline-block;
  color: #f7a600;
}

.overseas-listing .item-content {
  width: 75%;
  float: left;
}

.overseas-listing .item-content p {
  padding-bottom: 3px;
}

.overseas-listing .item-content p a {
  text-decoration: underline;
  color: #2d6298;
}

.overseas-listing .item-content p a:hover {
  text-decoration: none;
}

.overseas-listing .item-content .price {
  color: #2d6298;
}

.overseas-listing .item-content .name {
  color: #f7a600;
  font-size: 18px;
}

.overseas-listing .item-content .name a {
  text-decoration: none;
  color: #f7a600;
}

.overseas-listing .item-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overseas-listing .item-content li {
  display: inline-block;
  color: #2d6298;
}

.overseas-listing .item-content li a {
  text-decoration: underline;
}

.overseas-listing .item-content li a:hover {
  text-decoration: none;
}

/* contact-block
--------------------------------------------------*/
.contact-block h2 {
  font-size: 18px;
  font-weight: normal;
}

.contact-block h3 {
  font-size: 16px;
  font-weight: normal;
}

.contact-block .top-content {
  background: #5c95cf;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid #2d6298;
}

.contact-block .top-content h3:last-child {
  margin-bottom: 0;
}

.contact-block .contact-form h2 {
  font-size: 14px;
  font-weight: normal;
}

.contact-block .contact-form .btn-button {
  float: right;
  width: auto;
  min-width: 150px;
}

.contact-info-sidebar ul {
  list-style: none;
  padding: 0;
}

.contact-info-sidebar h3 {
  font-size: 18px;
}

.contact-info-sidebar h2 {
  margin: 20px 0 10px;
  font-size: 17px;
  color: #2d6298;
}

.contact-info-sidebar a.view-directions {
  color: #2d6298;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 13px;
  text-decoration: underline;
}

.contact-info-sidebar a.view-directions:hover {
  text-decoration: none;
}

.contact-info-sidebar p {
  font-size: 12px;
}

/* Faq Block
--------------------------------------------------*/
.faq-block .top-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.faq-block .top-content h3 {
  margin: 0 0 5px 0;
  font-weight: normal;
  font-size: 18px;
  color: #242424;
}

.faq-block .top-content a {
  text-decoration: underline;
  color: #2d6298;
  display: inline-block;
  padding: 5px 0;
}

.faq-block .top-content a:hover {
  padding-left: 10px;
}

.faq-block .faq-details h2 {
  font-weight: normal;
  margin: 20px 0 5px 0;
}

/* overseas-property
--------------------------------------------------*/
.overseas-property .row {
  margin: 0 -5px;
}

.overseas-property .item {
  padding: 5px;
}

.overseas-property .item-wrap {
  position: relative;
}

.overseas-property .item-wrap:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  background: rgba(36, 36, 36, 0.3);
}

.overseas-property .item-wrap:hover h3 {
  top: auto;
  bottom: 50%;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.overseas-property .item-wrap:hover:before {
  background: rgba(36, 36, 36, 0.1);
}

.overseas-property img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
}

.overseas-property h3 {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0;
  text-shadow: 1px 1px 15px #000;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

/* overseas-property-search
--------------------------------------------------*/
.overseas-property-search {
  padding-top: 25px;
}

.overseas-property-search .single-ads {
  display: block;
  margin-bottom: 15px;
}

.overseas-property-search .single-ads img {
  width: 100%;
}

.overseas-property-search .items {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 15px;
  /* Chrome, Safari, Opera */
  /* Firefox */
  column-gap: 15px;
}

.overseas-property-search .item {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-top: 15px;
  border: 1px solid #d6d6d6;
}

.overseas-property-search .item:first-child {
  margin-top: 0;
}

.overseas-property-search .item h3 {
  background: #2d6298;
  color: #fff;
  padding: 15px 10px;
  margin: 0;
}

.overseas-property-search ul {
  list-style: none;
  padding: 0;
}

.overseas-property-search li {
  padding: 5px 10px;
}

.overseas-property-search li a:hover {
  text-decoration: underline;
}

/* recommended-properties
--------------------------------------------------*/
.recommended-properties {
  margin-top: 25px;
  border: 1px solid #d6d6d6;
  padding: 15px;
}

.recommended-properties h3 {
  color: #f7a600;
  font-size: 16px;
  border-bottom: 2px solid #2d6298;
  padding-bottom: 5px;
}

.recommended-properties .item {
  padding-bottom: 15px;
}

.recommended-properties .item p {
  padding: 0;
}

.recommended-properties .item p span {
  color: #f7a600;
  font-weight: bold;
}

.recommended-properties .item p strong {
  display: block;
  color: #2d6298;
  font-weight: normal;
}

.recommended-properties .item-img {
  margin-bottom: 5px;
}

.recommended-properties .item-img img {
  width: 100%;
}

/* agent-content
--------------------------------------------------*/
.agent-content h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.agent-content .item {
  padding-bottom: 15px;
}

.agent-search {
  background: #f6f6f6;
  padding: 30px 15px 10px 15px;
  margin-bottom: 30px;
}

.agent-search .agent-search-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.agent-search h3 {
  color: #f7a600;
}

.agent-search .search-control {
  position: relative;
}

.agent-search .search-control .form-control {
  padding-right: 150px;
}

.agent-search .search-control .btn-button {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 150px;
}

.agent-search .clearfix {
  display: block;
}

/* agent-sidebar
--------------------------------------------------*/
.agent-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.agent-sidebar .item {
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #d6d6d6;
  background: #f6f6f6;
}

.agent-sidebar .item a > img {
  width: 100%;
}

.agent-sidebar .item-wrap h2 {
  color: #2d6298;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 20px 15px;
  border-bottom: 1px solid #2d6298;
}

.agent-sidebar .item-wrap li {
  padding: 10px 15px;
  border-bottom: 1px dashed #d6d6d6;
}

.agent-sidebar .item-wrap li:last-child {
  border: none;
}

.agent-sidebar .item-wrap li a {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  display: inline-block;
}

.agent-sidebar .item-wrap li a:before {
  font-family: FontAwesome;
  content: '\f054';
  display: inline-block;
  color: #2d6298;
  padding-right: 10px;
}

.agent-sidebar .item-wrap li a:hover:before {
  color: #f7a600;
  -webkit-animation: fadeInLeft 0.3s linear;
  animation: fadeInLeft 0.3s linear;
}

/* overseas-find-apartment-house
--------------------------------------------------*/
.overseas-find-apartment-house {
  padding-top: 10px;
}

.overseas-find-apartment-house h2 {
  font-size: 18px;
  color: #2d6298;
  margin-bottom: 10px;
}

.overseas-find-apartment-house .item-box {
  border: 1px solid #d6d6d6;
  padding: 0 15px;
  border-radius: 5px;
}

.overseas-find-apartment-house .item-box h3 {
  border-bottom: 2px solid #f7a600;
  padding: 15px 15px;
  margin: 0 -15px 5px -15px;
}

.overseas-find-apartment-house .item-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 0;
  /* Chrome, Safari, Opera */
  /* Firefox */
  column-gap: 0;
}

.overseas-find-apartment-house .item-box li {
  padding: 5px 0;
  color: #2d6298;
}

.overseas-find-apartment-house .item-box li a:hover {
  text-decoration: underline;
}

.overseas-find-apartment-house .item-box li span {
  color: #f7a600;
}

/* overseas-search-form
--------------------------------------------------*/
.overseas-search-form h3 {
  color: #2d6298;
  font-size: 16px;
}

.overseas-search-form .form-group label {
  width: 34%;
  float: left;
}

.overseas-search-form .form-group .form-control {
  float: left;
  width: 66%;
}

.overseas-search-form .btn-button {
  width: auto;
  float: right;
  min-width: 120px;
}

/* request-details-form
--------------------------------------------------*/
.request-details-form .form-group:after {
  content: '';
  display: block;
  clear: both;
}

.request-details-form .form-group p {
  color: #242424;
  font-weight: bold;
}

.request-details-form .form-control, .request-details-form select, .request-details-form .input-adjust {
  margin-bottom: 0;
  width: calc(100% - 190px);
  float: left;
}

.request-details-form .input-adjust .form-control {
  width: 100%;
}

.request-details-form label {
  width: 190px;
  float: left;
}

.request-details-form label span {
  color: #ff0000;
}

.request-details-form .is-invalid input, .request-details-form .is-invalid textarea {
  border-color: #ff0000;
}

.request-details-form .info {
  float: right;
}

.request-details-form .btn-button {
  width: 190px;
  float: right;
}

.request-details-form .info-content {
  margin-top: 15px;
}

.request-details-form .info-content h3 {
  margin-bottom: 0;
  font-weight: normal;
  color: #2d6298;
}

.request-details-form .checkbox label {
  width: 100%;
}

/* location-search
--------------------------------------------------*/
.location-search {
  background: #f6f6f6;
  padding: 30px 15px 10px 15px;
  margin-bottom: 30px;
}

.location-search .location-search-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.location-search h3 {
  color: #2d6298;
}

.location-search .search-control {
  position: relative;
  border: 15px solid #f7a600;
  background: #f7a600;
  border-radius: 4px;
}

.location-search .search-control .form-control {
  padding-right: 300px;
  margin: 0;
  border-radius: 0;
}

.location-search .search-control .btn-button {
  position: absolute;
  right: 150px;
  top: 0;
  max-width: 150px;
  border-radius: 0;
}

.location-search .search-control .btn-button:last-child {
  right: 0;
}

/* Buttons */
.btn-button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #2d6298 !important;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  background: #397bbf;
  color: #fff;
}

.btn-button:hover {
  background: #2d6298;
  color: #fff;
}

/*input field*/
input, select, textarea {
  outline: none;
  color: #686d6f;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  margin-bottom: 15px;
  border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

/* input field text */
input[type="text"], .form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 15px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  color: #242424;
}

/*submit field*/
input[type='submit'], button {
  cursor: pointer;
  width: 100%;
}

textarea {
  height: 70px;
  resize: vertical;
  padding: 10px 5px;
}

input[type='radio'], input[type='checkbox'] {
  height: auto;
  cursor: pointer;
  float: left;
  width: auto;
  margin-right: 5px;
}

input[type='radio'] + strong {
  float: left;
  padding-right: 15px;
}

input[type='file'] {
  width: auto;
  border: none;
  padding: 0;
  margin-right: 10px;
}

input[type='file']:focus {
  border: none;
  outline: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(36, 36, 36, 0.3);
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: rgba(36, 36, 36, 0.5);
}

/*
 * pagination
 * -----------------------------
/*/
.pagination {
  width: 100%;
}

.pagination ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.pagination li {
  display: inline-block;
  padding: 5px;
}

.pagination li.active a, .pagination li:hover a {
  background: #2d6298;
  border-color: #2d6298;
  color: #fff;
}

.pagination a {
  width: 35px;
  height: 35px;
  display: block;
  line-height: 2;
  border: 1px solid #d6d6d6;
}

/*
 * breadcrumb
 * -----------------------------
/*/
.breadcrumb {
  margin-top: 5px;
  background: transparent;
  padding: 0;
}

.breadcrumb ul {
  background: #f6f6f6;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 5px;
}

.breadcrumb li {
  display: inline-block;
  padding: 0 7px;
  color: #2d6298;
}

.breadcrumb li:after {
  content: '/';
  display: inline-block;
  padding-left: 15px;
}

.breadcrumb li:last-child:after {
  content: '\203A \203A';
  color: #f7a600;
  font-size: 20px;
}

.breadcrumb li.active, .breadcrumb li a:hover {
  color: #f7a600;
}

/* custom-aside
--------------------------------------------------*/
.custom-aside {
  border: 1px solid #d6d6d6;
  background: #f6f6f6;
  padding: 25px 15px 15px;
  margin-top: 15px;
}

.custom-aside h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-aside a {
  color: #2d6298;
}

.custom-aside a:hover {
  text-decoration: underline;
}

/* modalLoginRegister
--------------------------------------------------*/
.modalLoginRegister {
  background: rgba(0, 0, 0, 0.3);
}

.modalLoginRegister .modal-dialog {
  max-width: 920px;
  width: auto;
}

.modalLoginRegister .modal-content {
  border-radius: 13px;
  -webkit-box-shadow: -1px 1px 10px 1px rgba(36, 36, 36, 0.9);
          box-shadow: -1px 1px 10px 1px rgba(36, 36, 36, 0.9);
  overflow: hidden;
  position: relative;
}

.modalLoginRegister .modal-content:after {
  content: '';
  display: block;
  clear: both;
}

.modalLoginRegister .modal-content .close {
  color: #000;
  opacity: 1;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 9;
  width: auto;
}

.modalLoginRegister .left-block {
  float: left;
  width: 56%;
}

.modalLoginRegister .left-block > img {
  position: absolute;
  width: 56%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.modalLoginRegister .left-block-content {
  padding: 10px 15px;
  color: #ffffff;
  position: relative;
}

.modalLoginRegister .signin-form {
  max-width: 350px;
  margin: 0 auto;
}

.modalLoginRegister .signin-form h4 {
  font-size: 28px;
  font-weight: 400 !important;
  margin-bottom: 15px;
}

.modalLoginRegister .signin-form p {
  font-size: 12px;
  text-align: right;
  color: #fff;
}

.modalLoginRegister .signin-option {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 30%;
}

.modalLoginRegister .signin-option p {
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 30px;
}

.modalLoginRegister .signin-option span {
  display: inline-block;
  position: relative;
}

.modalLoginRegister .signin-option span:before,
.modalLoginRegister .signin-option span:after {
  content: "";
  position: absolute;
  height: 1px;
  background: #fff;
  top: 20px;
  width: 250px;
}

.modalLoginRegister .signin-option span:before {
  right: 100%;
  margin-right: 15px;
}

.modalLoginRegister .signin-option span:after {
  left: 100%;
  margin-left: 15px;
}

.modalLoginRegister .signin-option a {
  display: block;
  border: 1px solid #166780;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
  background: rgba(18, 150, 248, 0.8);
  line-height: 2.5;
  position: relative;
}

.modalLoginRegister .signin-option i {
  font-size: 1.5em;
  vertical-align: middle;
  position: absolute;
  left: 10%;
  top: 8px;
}

.modalLoginRegister .signin-option a:last-child {
  background: rgba(30, 194, 251, 0.8);
}

.modalLoginRegister .right-block-wrap {
  padding: 10px;
}

.modalLoginRegister .right-block {
  position: relative;
  float: left;
  width: 44%;
}

.modalLoginRegister .right-block h4 {
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 20px;
  color: #2d6298;
}

.modalLoginRegister .register-form {
  padding: 10px;
}

.modalLoginRegister .register-form .form-group {
  padding-right: 25px;
  position: relative;
  margin: 0;
}

.modalLoginRegister .register-form input[type="submit"] {
  height: 40px;
}

.modalLoginRegister .register-form ul {
  list-style: none;
  padding: 0;
  margin: 25px 0 0;
}

.modalLoginRegister .register-form li {
  display: block;
  float: left;
  width: 50%;
  border-left: 1px solid #000;
  text-align: center;
}

.modalLoginRegister .register-form li a {
  font-size: 16px;
  color: #6a686a;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.modalLoginRegister .register-form li i {
  display: block;
  color: #1a6aa5;
  font-size: 25px;
}

.modalLoginRegister .register-form li:first-child {
  border: none;
}

.modalLoginRegister .register-form li:first-child i {
  color: #3ab6e2;
}

.modalLoginRegister .checkbox {
  text-align: right;
}

.modalLoginRegister .checkbox label {
  font-size: 12px;
}

.modalLoginRegister input[type=checkbox] {
  display: none;
}

.modalLoginRegister input[type=checkbox] + span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 5px #000;
  margin-bottom: -5px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.modalLoginRegister input[type=checkbox]:checked + span {
  border-color: #2d6298;
}

.modalLoginRegister .input-items {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  margin: 10px 0;
}

.modalLoginRegister .input-items span {
  display: inline-block;
  vertical-align: middle;
  float: left;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  margin-left: -5px;
  margin-top: 6px;
}

.modalLoginRegister .input-items span:after {
  content: '/';
  display: inline-block;
  color: #f7a600;
  position: absolute;
}

.modalLoginRegister .input-items input {
  border: none !important;
  background: transparent !important;
  width: 50%;
  float: left;
  margin: 0;
}

.modalLoginRegister .input-items-date input {
  width: 30%;
}

.modalLoginRegister .input-items-date input:first-child {
  width: 40%;
}

.form-group.validate-success input {
  border-color: #2d6298;
}

.form-group.validate-success:after {
  position: absolute;
  font-family: FontAwesome;
  content: '\f00c';
  display: inline-block;
  right: 0;
  top: 5px;
  font-size: 20px;
  color: #2d6298;
}

/* end Add Style Sheet for modalLoginRegister */
/*# sourceMappingURL=main.css.map */