@charset "UTF-8";
/*
 * Core: General Layout Style
 * -----------------------------
/*/


// BASE - Base styles, variables, mixins, normalize etc
@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/base';


/* LAYOUTS - Page layout styles */
@import 'layouts/header';
@import 'layouts/nav';
@import 'layouts/footer';
@import 'layouts/sidebar';

/* MODULES - Individual site components */
@import 'modules/sections';
@import 'modules/buttons';
@import 'modules/forms';
@import 'modules/components';


/* modalLoginRegister
--------------------------------------------------*/
.modalLoginRegister {
  background: rgba(0, 0, 0, 0.3);

  .modal-dialog {
    max-width: 920px;
    width: auto;
  }
  .modal-content {
    border-radius: 13px;
    box-shadow: -1px 1px 10px 1px rgba($color-dark, 0.9);
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .close{
      color: #000;
      opacity: 1;
      font-size: 25px;
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 9;
      width: auto;
    }
  }
  .left-block {
    float: left;
    width: 56%;
    & > img {
      position: absolute;
      width: 56%;
      height: 100%;
      top:  0;
      left: 0;
      object-fit: cover;
    }
  }
  .left-block-content {
    padding: 10px 15px;
    color: #ffffff;
    position: relative;
  }
  .signin-form {
    max-width: 350px;
    margin: 0 auto;

    h4 {
      font-size: 28px;
      font-weight: 400 !important;
      margin-bottom: 15px;
    }
    p {
      font-size: 12px;
      text-align: right;
      color: #fff;
    }
  }
  .signin-option {
    max-width: 350px;
    margin: 0 auto;
    padding-top: 30%;

    p{
      text-align: center;
      max-width: 250px;
      margin: 0 auto;
      overflow: hidden;
      font-size: 30px;
    }
    span {
      display: inline-block;
      position: relative;
    }
    span:before,
    span:after {
      content: "";
      position: absolute;
      height: 1px;
      background: #fff;
      top: 20px;
      width: 250px;
    }
    span:before {
      right: 100%;
      margin-right: 15px;
    }
    span:after {
      left: 100%;
      margin-left: 15px;
    }
    a {
      display: block;
      border: 1px solid #166780;
      height: 40px;
      border-radius: 10px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      margin: 10px 0;
      background: rgba(18, 150, 248, 0.8);
      line-height: 2.5;
      position: relative;
    }
    i {
      font-size: 1.5em;
      vertical-align: middle;
      position: absolute;
      left: 10%;
      top: 8px;
    }
    a:last-child {
      background: rgba(30, 194, 251, 0.8);
    }
  }//.signin-option
  .right-block-wrap {
    padding: 10px;
  }
  .right-block {
    position: relative;
    float: left;
    width: 44%;
    h4{
      font-size: 28px;
      margin-bottom: 15px;
      margin-top: 20px;
      color: $color-primary;
    }
  }

  .register-form{
    padding: 10px;
    .form-group{
      padding-right: 25px;
      position: relative;
      margin: 0;
    }
    input[type="submit"]{
      height: 40px;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 25px 0 0;
    }
    li{
      display: block;
      float: left;
      width: 50%;
      border-left: 1px solid #000;
      text-align: center;

      a{
        font-size: 16px;
        color: #6a686a;
        max-width: 100px;
        margin: 0 auto;
        display: block;
      }

      i{
        display: block;
        color: #1a6aa5;
        font-size: 25px;
      }
      &:first-child{
        border: none;
        i{
          color: #3ab6e2;
        }
      }

    }
  }


  .checkbox{
    text-align: right;
  }
  .checkbox label{
    font-size: 12px;
  }
  input[type=checkbox]{
    display: none;
  }

  input[type=checkbox] + span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 5px #000;
    margin-bottom: -5px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  input[type=checkbox]:checked + span{
    border-color: $color-primary;
  }


  .input-items{
    height: 40px;
    border-radius: 4px;
    border: 1px solid $color-border;
    margin: 10px 0;
  }
  .input-items span{
    display: inline-block;
    vertical-align: middle;
    float: left;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    margin-left: -5px;
    margin-top: 6px;
  }
  .input-items span:after{
    content: '/';
    display: inline-block;
    color: $color-secondary;
    position: absolute;
  }
  .input-items input{
    border: none !important;
    background: transparent !important;
    width: 50%;
    float: left;
    margin: 0;
  }
  .input-items-date input{
    width: 30%;
  }
  .input-items-date input:first-child{
    width: 40%;
  }
}

.form-group.validate-success input{
  border-color: $color-primary;
}
.form-group.validate-success:after{
  position: absolute;
  font-family: FontAwesome;
  content:'\f00c';
  display: inline-block;
  right: 0;
  top: 5px;
  font-size: 20px;
  color: $color-primary;
}


/* end Add Style Sheet for modalLoginRegister */