@import "base/variables";
@import "base/mixins";
/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .container{
    width: 100%;
  }
  .navbar-default{
    .nav > li > a {
      padding: 10px 11px;
    }
  }
  .search-form {
    margin: 120px auto 50px;
  }

}

/* xs */
@media (max-width: 767px) {
  .main-header{
    .logo{
      max-width: 70px;
    }
  }
  .top-bar ul{padding-left: 70px;}
  .navbar-default .navbar-right{
    padding-left: 0;
  }
  .search-form {
    margin: 50px auto 50px;
  }
  .list-feature {
    padding: 30px 0;
  }
  .feature-items .item-img {
    height: auto;
  }
  .list-category .item{
    padding-bottom: 25px;
  }
}

//@media (max-width: 767px) {

@media (min-width: 480px) and (max-width: 767px) {

}

/* XS Portrait */
@media (max-width: 700px) {
  /* modalLoginRegister */
  .modalLoginRegister .left-block {
    width: 100%;
  }
  .modalLoginRegister .right-block {
    width: 100%;
  }
  .modalLoginRegister .left-block > img {
    width: 100%;
    position: static;
  }
  .modalLoginRegister .close {
    color: $color-white !important;
  }
  .modalLoginRegister .right-block h4 {
    margin-top: 5px;
  }
  .modalLoginRegister .left-block-content {
    padding: 10px 15px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .modalLoginRegister .signin-option {
    padding-top: 0;
  }

  .modalLoginRegister .left-block{
    position: relative;
  }
  .modalLoginRegister .left-block > img {
    width: 100%;
    position: absolute;
    height: 100%;
  }
  .modalLoginRegister .left-block-content {
    position: relative;
  }
}

/* flex display */
@media (min-width: 0px) and (max-width: 767px) {
  .fsi-row-xs-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .fsi-row-sm-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .fsi-row-md-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .fsi-row-lg-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}