@font-face {
    font-family: 'FuturaPT-Heavy';
    src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaPT-Heavy.otf')  format('opentype'),
    url('../fonts/FuturaPT-Heavy.woff') format('woff'), url('../fonts/FuturaPT-Heavy.ttf')  format('truetype'), url('../fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FuturaPTCond-Book';
    src: url('../fonts/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaPTCond-Book.otf')  format('opentype'),
    url('../fonts/FuturaPTCond-Book.woff') format('woff'), url('../fonts/FuturaPTCond-Book.ttf')  format('truetype'), url('../fonts/FuturaPTCond-Book.svg#FuturaPTCond-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaPT-Book.otf')  format('opentype'),
    url('../fonts/FuturaPT-Book.woff') format('woff'), url('../fonts/FuturaPT-Book.ttf')  format('truetype'), url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
