.anyClass {
    width:940px;
    height:90px;
    float: left;
    z-index:100;
    position:absolute;
    left:20px;
}


a.prev, a.next {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 1;
    background-color: #666;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    float: left;
}
     a.prev {
        margin: 40px -27px 0 0; text-indent: 8px;
        z-index:500;
        position:relative;
    }
    a.next {
        margin: 40px 0 0 180px; text-indent: 10px;
        z-index:500;
        position:relative;
        right:-45;
    }
        a.prev:hover, a.next:hover {
            background-color: #333;
        }