/*
 * Core: General Layout Style
 * -----------------------------
/*/
/*
 * Component: Global styles
 * -----------------------------
/*/
/*
 * Developed By Sajan Dhungana and Designed by Nitesh Kumar Mandal
 * -----------------------------
/*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i");
html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #686d6f;
  background: #fff;
  margin: 0;
  padding: 0;
  font-weight: 400;
  word-wrap: break-word;
}

.desc{
  padding-left: 10px;
  padding-bottom: 10px;
}

.item{
  /*border:1px solid #C6C6D9;*/
  margin-bottom: 10px;

}
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
a:hover {
  color: orange;
}
/* #video{
  border:1px solid #C6C6D9;
} */
#video iframe {
  border: 1px solid #ccc;
  min-height: 350px;
  width: 100%;
  height: auto;
  max-width: 700px;
}
.item-feature{
   border-bottom:5px solid #fff;
}
.item-feature table td {
  padding-left: 25px;
}
.item-feature {
  font-size: 12px;
}
.title{
  text-align: left;
  font-size: 18px;
  color: #111;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 6px;
  /*margin-bottom: 7px;*/
  line-height: 16px;
  overflow: hidden;
}
.subpage-main-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.land{
  font-size: 14px;
  color: #333;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 18px;
  padding-left: 0px;
  margin-bottom: -10px;
  text-decoration: none;
}
.land-road {
  float: right;
}
.road{
  font-size: 13px;
    color: #333;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 5px 0;
    padding-left: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

.seller{
  font-size: 10px;
    color: #909090;
    padding-left: 0px;
    font-weight: 500;
    text-transform: capitalize;
}

.title span{
    float: right;
    padding: 0 0px 0 10px;
}

.sold{
  position: absolute;
    font-size: 14px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    background: red;
    padding: 0 5px 0 5px;
    border-radius: 3px;
}



/*
 * Component: Typography
 * -----------------------------
/*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: bold;
}

h1 {
  font-size: 10px;
  color: #303030;
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

p {
  margin: 0;
  font-weight: 400;
  padding-bottom: 10px;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

.no-margin {
  margin: 0 !important;
}

/* LAYOUTS - Page layout styles */
/* main-header
--------------------------------------------------*/
.main-header {
  position: relative;
}

.main-header .logo {
  /* position: absolute;
  top: 25px; */
  left: 15px;
  max-width: 170px;
  z-index: 9;
  margin-top: -40px;
}

.top-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-bar li {
  display: inline-block;
}

.top-bar li a {
  padding: 10px 15px;
  font-size: 12px;
  display: block;
  color: #686d6f;
}
.top-bar li a:hover {
  text-decoration: underline;
}

/*
 * Navbar navbar-default
 * -----------------------------
/*/
.navbar-default {
  border-color: #2d6298;
  border-right: none;
  border-left: none;
  background: transparent;
  margin: 0;
  border-radius: 0;
  min-height: 0;
  border-top: none;
}

.navbar-default a {
  font-weight: bold;
  font-size: 14px;
}
.navbar-nav .nav-item:last-child {
  padding-right: 0px;
}
.nav-item {
  padding: 15px;
}
.navbar-default .navbar-toggle {
  border: none;
  margin: 0;
  width: auto;
  float: right;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: transparent;
}

.navbar-default .navbar-right {
  padding-left: 120px;
}

.navbar-toggle .icon-bar {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 30px;
  height: 4px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -7px);
}

/*
 * Main footer
 * -----------------------------
/*/
.main-footer {
  background: #f5f5f5;
  padding: 30px 0 0px;
}
.main-footer .left-title {
  margin-bottom: 10px;
  line-height: 16px;
  color: #303030;
  font-size: 12px;
}
.main-footer .links a {
  color: #909090;
  line-height: 18px;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  border-right: 1px solid #909090;
}
.main-footer .links a:hover {
  text-decoration: underline;
}
.main-footer .links a:first-child {
  padding-left: unset;
}
.main-footer .links a:last-child {
  border-right: unset;
}
.footer-logo img {
  max-width: 200px;;
}
.footer-about {
  color: #909090;
  font-size: 12px;
  margin-top: 15px;
  font-family: 'Raleway', sans-serif;
}
.footer-app-box {
  display: flex;
}
.footer-app-box a {
  margin-right: 10px;
}
.main-footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2d6298;
}

.main-footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}

.main-footer ul a {
  padding: 2px 0;
  display: block;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: #fff;
}

.main-footer ul a:hover {
  padding-left: 5px;
}

.footer-menu {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 30px;
}
.footer-menu ul {
  margin: unset;
  display: flex;
}

.footer-menu ul li a {
  color: #303030;
  font-size: 14px;
  text-decoration: none;
  margin-right: 30px;
  padding: 15px 0;
}
.footer-menu ul li a:hover {
  color: #F7931E;
  padding-left: unset;
}
.footer-bottom-desc {
  color: #909090;
  font-size: 10px;
  line-height: 14px;
  padding-top: 15px;
}
.copyright {
  background: #000;
  border-top: 1px solid #d6d6d6;
  padding-top: 00px;
  margin-top: 15px;
}

.copyright p {
  padding: 0;
  text-align: center;
  color: #606060;
  font-size: 10px;
  line-height: 40px;
}

/*
 * Main sidebar
 * -----------------------------
/*/
/* widget
--------------------------------------------------*/
.widget {
  clear: both;
  margin-bottom: 20px;
}

.widget > h2 {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #2d6298;
  border-bottom: 1px solid #f7a600;
}

.widget .inner {
  background: #f6f6f6;
  padding: 15px !important;
}

.widget-list ul {
  list-style: none;
  padding: 0;
}

.widget-list li {
  position: relative;
  padding: 5px 0 5px 25px;
}

.widget-list li a:before {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f041";
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 5px;
  font-size: 30px;
  color: #242424;
}

.widget-list li a:hover:before {
  color: #f7a600;
}

.widget-list li span {
  display: block;
  color: #2d6298;
}

.widget-list li span.text-right {
  color: #f7a600;
}

.widget.tags ul {
  padding: 0;
  list-style: none;
}

.widget.tags ul li {
  display: inline-block;
  margin: 2px 1px;
}

.widget.tags ul a {
  background: #2d6298;
  padding: 5px 10px;
  display: block;
  color: #fff;
}

.widget.tags ul a:hover {
  background: #336fac;
}

.widget.tabs .nav a {
  background: #f7a600;
  border: none;
  color: #fff;
  font-weight: bold;
}

.widget.tabs li.active a {
  background: #2d6298;
}

.widget.tabs .nav-justified > li {
  width: 50%;
  float: left;
}
.widget.tabs .tab-content .item-content p {
  color: #7a7a7a;
  font-size: 13px;
}

.nav-tabs .nav-item {
  padding: 0px;
  margin-right: 2px;
}

.nav-tabs .nav-link.active {
  border-radius: 0px;
}

.widget-items .item {
  position: relative;
  min-height: 65px;
  border-bottom: 1px dashed #2d6298;
  padding-bottom: 10px;
  margin: 10px 0;
}

.widget-items .item:last-child {
  border: none;
  margin-bottom: 0;
  padding: 0;
}

.widget-items .item-img {
  position: absolute;
  width: 80px;
  height: 55px;
  top: 0;
  left: 0;
}

.widget-items .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.widget-items .item-content {
  padding-left: 88px;
}

.widget-items .item-content h2 {
  font-size: 15px;
  color: #2d6298;
  margin-bottom: 5px;
}

.widget-items .item-content h2 a:hover {
  color: #c48400;
}

.widget-items .item-content p {
  color: #242424;
  font-style: italic;
}

a.view-all {
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: underline;
  padding: 10px 0 10px 0;
  color: #f7a600;
  background: #2d6298;
  margin-top: 8px;
}

a.view-all:hover {
  text-decoration: none;
}

.widget.ads .row {
  margin: 0 -5px;
}

.widget.ads .row .col-xs-6 {
  padding: 0 5px;
}

.widget.ads img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* MODULES - Individual site components */
/* ==========================================================================
   Sections
   ========================================================================== */
/* banner
--------------------------------------------------*/
.main-banner {
  background-size: cover;
  position: relative;
}

.main-banner:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(36, 36, 36, 0.7);
}

.carousel-cap-wrap {
  display: flex;
  position: relative;
}
.search-form {
  max-width: 767px;
  margin: 200px auto 50px;
  padding: 15px;
  background: rgba(247,147,30, 0.9);
  border-radius: 10px;
  position: relative;
  right: 0;
  left: 0;
  display: inline-block;
}

.search-form h2,
.search-form p {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.search-form .btn-button {
  background: rgba(0,0,0, 0.7);
  color: #fff;
  border: 1px solid rgba(0,0,0, 0.7) !important;
  border-radius: 4px;
  height: 40px;
  min-width: 120px;
  float: left;
}

.search-form .btn-button:hover {
  background: #fff;
  color: #f7a600;
}
.search-form .btn-button:focus {
  background-color: rgba(0, 0, 0, 0.7) !important;;
}
/* BUTTONS */
.btn-comment {
  color: #F7931E;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 5px 15px;
  font-weight: 300;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-comment:hover {
  border: 1px solid #F7931E;
  color: #F7931E;
}
/* BUTTONS */
/* list-feature
--------------------------------------------------*/
.list-feature h2 {
  font-weight: normal;
  margin-bottom: 10px;
}

.feature-items .item-wrap {
  background: #f6f6f6;
  margin: 15px 0;
}

.feature-items .item-img {
  /* margin-bottom: 10px; */
  height: 190px;
  position: relative;
}

.feature-items .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.feature-items .item-img strong {
  position: absolute;
  font-weight: normal;
  padding: 5px 10px;
  top: 5px;
  right: 0;
  color: #fff;
  background: rgba(45, 98, 152, 0.8);
  font-size: 0.8em;
}

.feature-items .item-img span {
  position: absolute;
  /*bottom: 0;*/
  left: 0;
  /*padding: 3px 12px;*/
  background: #1879F2;
  color: #fff;
  font-size: 0.9em;
  top:10px;
  padding:5px 15px;
}

.feature-items .item-title {
  padding: 0 10px 10px;
  border-bottom: 1px dashed #d6d6d6;
  font-size: 14px;
}

.feature-items .item-title p {
  padding: 0;
}

.feature-items .item-title i {
  display: block;
  float: left;
  padding-top: 4px;
  min-width: 25px;
  color: #f7a600;
}

.feature-items .item-content {
  padding: 10px 10px 5px;
  height: 106px;
}
.feature-items .item-content p {
  padding-bottom: 5px;
  font-size: 12px;
}
.feature-items .item-content h3 {
  padding: 0;
  color: #2d6298;
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}

.feature-items .item-footer {
  border-top: 1px dashed #d6d6d6;
  text-align: center;
}

.feature-items .item-footer a {
  padding: 10px 10px 5px;
  color: #f7a600;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* .feature-items .item-footer a:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: -100%;
  bottom: 15px;
  background: #2d6298;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
} */

.feature-items .item-footer a:hover {
  color: #2d6298;
}

.feature-items .item-footer a:hover:after {
  left: 0;
}
.feature-items .fa-eye:before {
  margin-right: 5px;
}
.feature-items .fa-eye {
  margin-right: 10px;
}

/* list-category
--------------------------------------------------*/
.list-category {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.list-category i {
  font-size: 30px;
  padding-bottom: 15px;
  color: #2d6298;
}

.list-category a {
  display: block;
  color: #2d6298;
  margin-bottom: 5px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.list-category a:hover {
  margin-top: 5px;
  margin-bottom: 0;
  border-bottom: none;
}
.list-category h3 {
  margin-bottom: 10px;
}
.list-category h3 a {
  font-size: 16px;
}
.list-category .signup {
  font-size: 12px;
}
.list-category p {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}
.social-links strong {
  font-weight: 700;
  font-size: 16px;
}

.social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 5px;
}

.social-links a {
  color: #fff;
  display: block;
  font-size: 14px;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 3px;
  background: #000;
  /* border-radius: 50%; */
  line-height: 31px;
}
footer .social-links a {
  padding: 9px;
  line-height: 19px;
}
footer .social-links a:hover {
  padding: 9px;
  line-height: 19px;
  transition: 0.5s;
}
.social-links a.fa-facebook-f:hover {
  background: #3B5998;
}
.social-links a.fa-google:hover {
  background:#D3482B;
}
.social-links a.fa-youtube:hover {
  background: #EA1514;
}
.social-links a.fa-twitter:hover {
  background: #28A8E0;
}
.social-links a.fa-linkedin-in:hover {
  background: #0A66C2;
}
.social-links a.fa-whatsapp:hover {
  background: #128c7e;
}
.social-links a.fa-weixin:hover {
  background: #7bb32e;
}
.social-links a.fa-viber:hover {
  background: #665cac;
}
.social-links a.fa-instagram:hover {
  /*background: -webkit-linear-gradient(#eee, #333);*/
	background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);

}
.social-links u, .social-links li,
.social-links a:hover {
  margin: 0;
  padding: 0
}

/* main-content
--------------------------------------------------*/
.main-content {
  padding: 40px 0;
    border-top: 1px solid #e5e5e5;
}

/* inner-search-form
--------------------------------------------------*/
.inner-search-form {
  /*margin-top: -25px;*/
  background: #fca900;
  padding: 15px 15px 1px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.inner-search-form label {
  font-weight: normal;
}
.inner-search-form .form-group {
  margin-bottom: 10px;
  min-height: 66px;
}

.inner-search-form .form-control {
  height: 30px;
  box-shadow: none;
  border-color: #d6d6d6;
  font-size: 13px;
  border-radius: 3px;
  margin-bottom: 10px;
}

/* single-article
--------------------------------------------------*/
.single-article .item-feature ul {
  list-style: none;
  padding: 0;
  padding-left: 10px;
  margin-bottom: 15px;
}

.single-article .item-feature li {
  padding: 5px 15px 0 0;
  /*width: 50%;*/
  float: left;
}

.single-article .item-feature li:before {
  content: "\f046";
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 10px;
  color: #f7a600;
}
.single-article .item-feature .description i {
  color: #2d6298;
}
.single-article .item-feature .description p {
  padding: 5px 0 20px;
  font-weight: normal;
  font-size: 0.9em;
}
.single-article .item-feature .description p:before {
  content: "\f178";
  display: inline-block;
  font-family: FontAwesome;
  padding-right: 5px;
}

.single-article h2 {
  margin: 25px 0 10px 0;
}

.single-article .tab-nav {
  margin-top: 0px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  z-index: 9;
  position: relative;
}

.single-article .tab-nav li {
  display: inline-block;
  background: #fff;
  margin-right: 2px;
}

.single-article .tab-nav li a.active {
  border-bottom-color: #f9f9f9;
  color: #303030;
  background: #f9f9f9;
}

.single-article .tab-nav a {
  padding: 7px 15px;
  display: inline-block;
  border-left: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-bottom-color: #d6d6d6;
  background: #e5e5e5;
  border-radius: 0px;
  position: relative;
  z-index: 10;
}
.gen-social-links {
  line-height: 21px;
}
.single-article .tab-content {
  /*border: 1px solid #d6d6d6;*/
  padding: 15px;
  margin-top: -1px;
  background: #f9f9f9;
}

.single-article .tab-content h4 {
  /*margin-top: 10px;*/
  padding: 7px 7px 0;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.single-article .title-view-full a {
  margin: 15px 0 5px;
  display: inline-block;
  color: #2d6298;
  text-decoration: underline;
}

.single-article .title-view-full a i {
  padding-right: 5px;
  text-decoration: none;
}

.single-article .floorplan img {
  width: 100%;
}

.single-article .map-street iframe {
  width: 100%;
  min-height: 300px;
}
.single-article .map-street h4 {
  margin: 10px 0 0;
}

.single-article .map-street p {
  font-size: 13px;
}
.view-wrap {
  position: relative;
}
.view-wrap i {
  display: inline-block;
  position: absolute;
  padding: 8px 15px;
  background: rgba(0,0,0,.5);
  bottom: 0px;
  color: #fff;
}
.view-wrap i::before {
  margin-right: 5px;
}

.article-title {
  padding: 10px 0 15px;
}

.article-title h1 {
  margin-bottom: 5px;
  color: #505050;
}

.article-title p {
  font-size: 18px;
  padding-bottom: 5px;
  color: #7a7a78;
}

.article-title .price-par {
  font-size: 10px;
  float: right;
  color: #f7a600;
}
.article-title .price-par span {
  font-weight: 700;
  font-size: 16px;
}

.article-title p strong {
  color: #2d6298;
}

.disclaimer-content {
  margin-top: 15px;
  font-size: 10px;
  border-top: 1px dashed #ccc;
  padding-top: 15px;
}

.disclaimer-content strong {
  font-size: 16px;
  color: #f7a600;
}

.main-sidebar .property-info {
  border: 1px solid #d6d6d6;
}

.main-sidebar .agent-profile-image {
  width: 110px;
  height: 110px;
  overflow: hidden;
  margin: 5px auto;
}
.main-sidebar .agent-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.main-sidebar .property-info .inner {
  background: transparent;
  padding: 15px 0 0 0;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.main-sidebar .property-info strong {
  color: #f7a600;
  font-weight: normal;
}

.main-sidebar .property-info .property-img img {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.main-sidebar .property-info .view-agent {
  text-decoration: underline;
}

.main-sidebar .property-info .view-agent:hover {
  text-decoration: none;
}

.main-sidebar .property-info p {
  padding: 0 0px 10px 0px;
  font-size: 12px;
}

.main-sidebar .property-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-sidebar .property-info li {
  border-top: 1px dashed #d6d6d6;
  padding: 15px 15px;
}

.main-sidebar .property-info li p {
  padding: 0;
}

.main-sidebar .property-info li a:hover i {
  color: #2d6298;
  -webkit-animation: fadeInDown 0.4s linear;
  animation: fadeInDown 0.4s linear;
}

.main-sidebar .property-info li i {
  padding-right: 10px;
}

.main-sidebar .property-info li .fa-heart-o {
  color: red;
}

.main-sidebar .property-info .social-links li {
  border: none;
  padding: 0;
  margin: 5px 5px 0 0;
}

.main-sidebar .property-info .social-links a {
  text-align: center;
  border: 1px solid #2d6298;
  width: 40px;
  height: 40px;
}

.main-sidebar .property-info .social-links a.fa-facebook {
  color: #3b5999;
  border-color: #3b5999;
}

.main-sidebar .property-info .social-links a.fa-facebook:hover {
  background: #3b5999;
  color: #fff;
}

.main-sidebar .property-info .social-links a.fa-twitter {
  color: #5aadde;
  border-color: #5aadde;
}

.main-sidebar .property-info .social-links a.fa-twitter:hover {
  background: #5aadde;
  color: #fff;
}

.main-sidebar .property-info .social-links a.fa-google-plus {
  color: #cf2128;
  border-color: #cf2128;
}

.main-sidebar .property-info .social-links a.fa-google-plus:hover {
  color: #fff;
  background: #cf2128;
}

.main-sidebar .property-info .add-note-show {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
  padding-top: 15px;
}
.main-sidebar .property-info .add-note-show.show {
  height: auto;
  display: block;
}
.main-sidebar .property-info .request-details {
  text-align: center;
}

.main-sidebar .property-info .request-details .btn-button {
  margin-bottom: 10px;
}

.main-sidebar .property-info .request-details .btn-button:hover {
  text-decoration: none;
}

.main-sidebar .property-info .request-details a:hover {
  text-decoration: underline;
}

/*post-listing
--------------------------------------------------*/
.post-listing .item {
  border-bottom: 1px dashed #2d6298;
  padding: 15px 0;
}

.post-listing .item:after {
  content: "";
  display: block;
  clear: both;
}

.post-listing .item-img {
  width: 30%;
  float: left;
  margin-right: 5%;
}

.post-listing .item-content h2 {
  color: #2d6298;
  font-size: 17px;
}

.post-listing .item-content p a {
  color: #f7a600;
}

.post-listing .item-content p a:hover {
  text-decoration: underline;
}

.post-listing .item-content .meta a {
  text-decoration: underline;
  color: #686d6f;
}

/*overseas-listing
--------------------------------------------------*/
.overseas-listing .item {
  border-bottom: 1px dashed #2d6298;
  padding: 15px 0;
}

.overseas-listing .item:after {
  content: "";
  display: block;
  clear: both;
}

.overseas-listing .item-img {
  width: 25%;
  float: left;
  padding-right: 15px;
}

.overseas-listing .item-img span {
  padding-top: 3px;
  display: inline-block;
  color: #f7a600;
}

.overseas-listing .item-content {
  width: 75%;
  float: left;
}

.overseas-listing .item-content p {
  padding-bottom: 3px;
}

.overseas-listing .item-content p a {
  text-decoration: underline;
  color: #2d6298;
}

.overseas-listing .item-content p a:hover {
  text-decoration: none;
}

.overseas-listing .item-content .price {
  color: #2d6298;
}

.overseas-listing .item-content .name {
  color: #f7a600;
  font-size: 18px;
}

.overseas-listing .item-content .name a {
  text-decoration: none;
  color: #f7a600;
}

.overseas-listing .item-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overseas-listing .item-content li {
  display: inline-block;
  color: #2d6298;
}

.overseas-listing .item-content li a {
  text-decoration: underline;
}

.overseas-listing .item-content li a:hover {
  text-decoration: none;
}

/* contact-block
--------------------------------------------------*/
.contact-block h2 {
  font-size: 18px;
  font-weight: normal;
}

.contact-block h3 {
  font-size: 16px;
  font-weight: normal;
}

.contact-block .top-content {
  background: #5c95cf;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid #2d6298;
}

.contact-block .top-content h3:last-child {
  margin-bottom: 0;
}

.contact-block .contact-form h2 {
  font-size: 14px;
  font-weight: normal;
}

.contact-block .contact-form .btn-button {
  float: right;
  width: auto;
  min-width: 150px;
}

.contact-info-sidebar ul {
  list-style: none;
  padding: 0;
}

.contact-info-sidebar h3 {
  font-size: 18px;
}

.contact-info-sidebar h2 {
  margin: 20px 0 10px;
  font-size: 17px;
  color: #2d6298;
}

.contact-info-sidebar a.view-directions {
  color: #2d6298;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 13px;
  text-decoration: underline;
}

.contact-info-sidebar a.view-directions:hover {
  text-decoration: none;
}

.contact-info-sidebar p {
  font-size: 12px;
}

/* Faq Block
--------------------------------------------------*/
.faq-block .top-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.faq-block .top-content h3 {
  margin: 0 0 5px 0;
  font-weight: normal;
  font-size: 18px;
  color: #242424;
}

.faq-block .top-content a {
  text-decoration: underline;
  color: #2d6298;
  display: inline-block;
  padding: 5px 0;
}

.faq-block .top-content a:hover {
  padding-left: 10px;
}

.faq-block .faq-details h2 {
  font-weight: normal;
  margin: 20px 0 5px 0;
}

/* overseas-property
--------------------------------------------------*/
.overseas-property {
  padding-bottom: 20px;
}
.overseas-property .row {
  margin: 0 -5px;
}

.overseas-property .item {
  padding: 5px;
}

.overseas-property .item-wrap {
  position: relative;
}

.overseas-property .item-wrap:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  background: rgba(36, 36, 36, 0.3);
}

.overseas-property .item-wrap:hover h3 {
  top: auto;
  bottom: 50%;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.overseas-property .item-wrap:hover:before {
  background: rgba(36, 36, 36, 0.1);
}

.overseas-property img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  -o-object-fit: cover;
}

.overseas-property h3 {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0;
  text-shadow: 1px 1px 15px #000;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

/* overseas-property-search
--------------------------------------------------*/
/* .overseas-property-search {
  /*padding-top: 25px;*/
/* }  */
.overseas-property-search iframe {
  height: 300px;
}
.place-card.place-card-medium {
  display: none !important;
}

.overseas-property-search .single-ads {
  display: block;
  margin-bottom: 15px;
}

.overseas-property-search .single-ads img {
  width: 100%;
}

.overseas-property-search .items {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 15px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 15px;
  /* Firefox */
  column-gap: 15px;
}

.overseas-property-search .item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-top: 15px;
  border: 1px solid #d6d6d6;
}

.overseas-property-search .item:first-child {
  margin-top: 0;
}

.overseas-property-search .item h3 {
  background: #2d6298;
  color: #fff;
  padding: 15px 10px;
  margin: 0;
}

.overseas-property-search ul {
  list-style: none;
  padding: 0;
}

.overseas-property-search li {
  padding: 5px 10px;
}

.overseas-property-search li a:hover {
  text-decoration: underline;
}

/* recommended-properties
--------------------------------------------------*/
.recommended-properties {
  /*margin-top: 25px;*/
  border-left: 1px solid #e5e5e5;
  padding-left: 15px;
  margin-top: 30px;
}

.recommended-properties h3 {
  color: #f7a600;
  font-size: 16px;
  border-bottom: 2px solid #2d6298;
  padding-bottom: 5px;
}

.recommended-properties .item {
  padding-bottom: 15px;
}

.recommended-properties .item p {
  padding: 0;
}

.recommended-properties .item p span {
  color: #f7a600;
  font-weight: bold;
}

.recommended-properties .item p strong {
  display: block;
  color: #606060;
  font-weight: normal;
  font-size: 12px;
}

.recommended-properties .item-img {
  margin-bottom: 5px;
  max-height: 300px;
  overflow: hidden;
}
.recommended-properties .item-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.recommended-properties .item-img img {
  width: 100%;
}

/* agent-content
--------------------------------------------------*/
.agent-content h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.agent-content .item {
  padding-bottom: 15px;
}

.agent-search {
  background: #f6f6f6;
  padding: 30px 15px 10px 15px;
  margin-bottom: 30px;
}

.agent-search .agent-search-wrap {
  max-width: 900px;
  margin: 0 auto;
}

.agent-search h3 {
  color: #f7a600;
  text-align: center;
  font-weight: normal;
  padding-bottom: 15px;
  font-size: 24px;
}

.agent-search .agent-search-wrap label {
  color: #2d6298;
  font-weight: normal;
}
.agent-search .agent-search-wrap .form-control {
  height: 35px;
}
.agent-search .search-control {
  position: relative;
}

.agent-search .search-control .form-control {
  padding-right: 150px;
}

.agent-search .search-control .btn-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 35px;
  border-top: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  max-width: 150px;
}

.agent-search .clearfix {
  display: block;
}

/* agent-sidebar
--------------------------------------------------*/
.agent-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.agent-sidebar .item {
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #d6d6d6;
  background: #f6f6f6;
}

.agent-sidebar .item a > img {
  width: 100%;
}

.agent-sidebar .item-wrap h2 {
  color: #2d6298;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 20px 15px;
  border-bottom: 1px solid #2d6298;
}

.agent-sidebar .item-wrap li {
  padding: 10px 15px;
  border-bottom: 1px dashed #d6d6d6;
}

.agent-sidebar .item-wrap li:last-child {
  border: none;
}

.agent-sidebar .item-wrap li a {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  display: inline-block;
}

.agent-sidebar .item-wrap li a:before {
  font-family: FontAwesome;
  content: "\f054";
  display: inline-block;
  color: #2d6298;
  padding-right: 10px;
}

.agent-sidebar .item-wrap li a:hover:before {
  color: #f7a600;
  -webkit-animation: fadeInLeft 0.3s linear;
  animation: fadeInLeft 0.3s linear;
}

/* overseas-find-apartment-house
--------------------------------------------------*/
.overseas-find-apartment-house {
  padding-top: 10px;
}

.overseas-find-apartment-house h2 {
  font-size: 18px;
  color: #2d6298;
  margin-bottom: 10px;
}

.overseas-find-apartment-house .item-box {
  border: 1px solid #d6d6d6;
  padding: 0 15px;
  border-radius: 5px;
}

.overseas-find-apartment-house .item-box h3 {
  border-bottom: 2px solid #f7a600;
  padding: 15px 15px;
  margin: 0 -15px 5px -15px;
}

.overseas-find-apartment-house .item-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 0;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 0;
  /* Firefox */
  column-gap: 0;
}

.overseas-find-apartment-house .item-box li {
  padding: 5px 0;
  color: #2d6298;
}

.overseas-find-apartment-house .item-box li a:hover {
  text-decoration: underline;
}

.overseas-find-apartment-house .item-box li span {
  color: #f7a600;
}

/* overseas-search-form
--------------------------------------------------*/
.overseas-search-form h3 {
  color: #2d6298;
  font-size: 16px;
}

.overseas-search-form .form-group label {
  width: 34%;
  float: left;
}

.input-group {
  width: 100%;
}
.overseas-search-form .input-group {
  width: 66%;
}
.input-group .form-control {
  width: 100% !important;
  border-radius: 4px !important;
}
.typeahead.typeahead-long.dropdown-menu {
  width: 100%;
}
.input-group-addon {
  background: transparent;
  border-left: none;
  display: none;
}
.input-group-addon .caret {
  display: none;
}
.overseas-search-form .form-group .form-control {
  float: left;
  width: 66%;
}

.overseas-search-form .btn-button {
  width: auto;
  float: right;
  min-width: 120px;
}

/* request-details-form
--------------------------------------------------*/
.request-details-form .form-group:after {
  content: "";
  display: block;
  clear: both;
}

.request-details-form .form-group p {
  color: #242424;
  font-weight: bold;
}

.request-details-form .form-control,
.request-details-form select,
.request-details-form .input-adjust {
  margin-bottom: 0;
  width: calc(100% - 190px);
  float: left;
}

.request-details-form .input-adjust .form-control {
  width: 100%;
}

.request-details-form label {
  width: 190px;
  float: left;
}

.request-details-form label span {
  color: #ff0000;
}

.request-details-form .is-invalid input,
.request-details-form .is-invalid textarea {
  border-color: #ff0000;
}

.request-details-form .info {
  float: right;
}

.request-details-form .btn-button {
  width: 190px;
  float: right;
}

.request-details-form .info-content {
  margin-top: 15px;
}

.request-details-form .info-content h3 {
  margin-bottom: 0;
  font-weight: normal;
  color: #2d6298;
}

.request-details-form .checkbox label {
  width: 100%;
}

/* location-search
--------------------------------------------------*/
.location-search {
  background: #f6f6f6;
  padding: 30px 15px 10px 15px;
  margin-bottom: 30px;
}

.location-search .location-search-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.location-search h3 {
  color: #2d6298;
}

.location-search .search-control {
  position: relative;
  border: 15px solid #f7a600;
  background: #f7a600;
  border-radius: 4px;
}

.location-search .search-control .form-control {
  padding-right: 300px;
  margin: 0;
  border-radius: 0;
}

.location-search .search-control .btn-button {
  position: absolute;
  right: 150px;
  top: 0;
  max-width: 150px;
  border-radius: 0;
}

.location-search .search-control .btn-button:last-child {
  right: 0;
}

/* Buttons */
.btn-button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #2d6298 !important;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  background: #397bbf;
  color: #fff;
}

.btn-button:hover,
.btn-button:focus {
  background: #2d6298;
  color: #fff;
}
.help-btn .contact {
  padding: 8px 15px;
}
.contact {
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 12px;
  background: #e5e5e5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 15px 0 0;
  text-align: center;
  color: #303030;
}
.contact:hover {
  background: #666;
  color: #fff;
  border: 1px solid #666;
}
.contact-btn {
  background: rgba(247,147,30, 0.8);
  padding: 8px 30px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 4px;
  margin: 15px 0 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgba(247,147,30, 1);;
  white-space: nowrap;
  border-radius: 2px;
}
.contact-btn:hover {
  background: rgba(247,147,30, 1);
}
/*input field*/
input,
select,
textarea {
  outline: none;
  color: #686d6f;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  margin-bottom: 15px;
  border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* input field text */
input[type="text"],
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 12px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

label {
  color: #242424;
}

/*submit field*/
input[type="submit"] {
  cursor: pointer;
  width: 100%;
}

textarea {
  height: 70px;
  resize: vertical;
  padding: 10px 5px;
}

input[type="radio"],
input[type="checkbox"] {
  height: auto;
  cursor: pointer;
  float: left;
  width: auto;
  margin-right: 5px;
}

input[type="radio"] + strong {
  float: left;
  padding-right: 15px;
}

input[type="file"] {
  width: auto;
  border: none;
  padding: 0;
  margin-right: 10px;
}

input[type="file"]:focus {
  border: none;
  outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(36, 36, 36, 0.3);
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: rgba(36, 36, 36, 0.5);
}

/*
 * pagination
 * -----------------------------
/*/
.pagination {
  width: 100%;
}

.pagination ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.pagination li {
  display: inline-block;
  padding: 5px;
}

.pagination li.active a,
.pagination li:hover a {
  background: #2d6298;
  border-color: #2d6298;
  color: #fff;
}

.pagination a {
  color: #303030;
  width: 35px;
  height: 35px;
  display: flex;
  line-height: 2;
  border: 1px solid #d6d6d6;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pagination li:last-child {
  padding-right: 0;
}
/*
 * breadcrumb
 * -----------------------------
/*/
.breadcrumb {
  margin-top: 5px;
  background: transparent;
  padding: 0;
}

.breadcrumb ul {
  background: #f6f6f6;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 5px;
}

.breadcrumb li {
  display: inline-block;
  padding: 0 7px;
  color: #2d6298;
}

.breadcrumb li:after {
  content: "\203A \203A";
  display: inline-block;
  padding-left: 15px;
}

.breadcrumb li:last-child:after {
  content: "";
  color: #f7a600;
  font-size: 20px;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "";
}
.breadcrumb li.active,
.breadcrumb li a:hover {
  color: #f7a600;
}

/* custom-aside
--------------------------------------------------*/
.custom-aside {
  border: 1px solid #d6d6d6;
  background: #f6f6f6;
  padding: 25px 15px 15px;
  margin-top: 15px;
}

.custom-aside h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-aside a {
  color: #2d6298;
}

.custom-aside a:hover {
  text-decoration: underline;
}

/* modalLoginRegister
--------------------------------------------------*/
.modalLoginRegister {
  background: rgba(0, 0, 0, 0.3);
}

.modalLoginRegister .modal-dialog {
  max-width: 920px;
  width: auto;
}

.modalLoginRegister .modal-content {
  border-radius: 13px;
  box-shadow: -1px 1px 10px 1px rgba(36, 36, 36, 0.9);
  overflow: hidden;
  position: relative;
}

.modalLoginRegister .modal-content:after {
  content: "";
  display: block;
  clear: both;
}

.modalLoginRegister .modal-content .close {
  color: #000;
  opacity: 1;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 9;
  width: auto;
}

.modalLoginRegister .left-block {
  float: left;
  width: 56%;
}

.modalLoginRegister .left-block > img {
  position: absolute;
  width: 56%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.modalLoginRegister .left-block-content {
  padding: 10px 15px;
  color: #ffffff;
  position: relative;
}

.modalLoginRegister .signin-form {
  max-width: 350px;
  margin: 0 auto;
}

.modalLoginRegister .signin-form h4 {
  font-size: 28px;
  font-weight: 400 !important;
  margin-bottom: 15px;
}

.modalLoginRegister .signin-form p {
  font-size: 12px;
  text-align: right;
  color: #fff;
}

.modalLoginRegister .signin-option {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 30%;
}

.modalLoginRegister .signin-option p {
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 30px;
}

.modalLoginRegister .signin-option span {
  display: inline-block;
  position: relative;
}

.modalLoginRegister .signin-option span:before,
.modalLoginRegister .signin-option span:after {
  content: "";
  position: absolute;
  height: 1px;
  background: #fff;
  top: 20px;
  width: 250px;
}

.modalLoginRegister .signin-option span:before {
  right: 100%;
  margin-right: 15px;
}

.modalLoginRegister .signin-option span:after {
  left: 100%;
  margin-left: 15px;
}

.modalLoginRegister .signin-option a {
  display: block;
  border: 1px solid #166780;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
  background: rgba(18, 150, 248, 0.8);
  line-height: 2.5;
  position: relative;
}

.modalLoginRegister .signin-option i {
  font-size: 1.5em;
  vertical-align: middle;
  position: absolute;
  left: 10%;
  top: 8px;
}

.modalLoginRegister .signin-option a:last-child {
  background: rgba(30, 194, 251, 0.8);
}

.modalLoginRegister .right-block-wrap {
  padding: 10px;
}

.modalLoginRegister .right-block {
  position: relative;
  float: left;
  width: 44%;
}

.modalLoginRegister .right-block h4 {
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 20px;
  color: #2d6298;
}

.modalLoginRegister .register-form {
  padding: 10px;
}

.modalLoginRegister .register-form .form-group {
  padding-right: 25px;
  position: relative;
  margin: 0;
}

.modalLoginRegister .register-form input[type="submit"] {
  height: 40px;
}

.modalLoginRegister .register-form ul {
  list-style: none;
  padding: 0;
  margin: 25px 0 0;
}

.modalLoginRegister .register-form li {
  display: block;
  float: left;
  width: 50%;
  border-left: 1px solid #000;
  text-align: center;
}

.modalLoginRegister .register-form li a {
  font-size: 16px;
  color: #6a686a;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.modalLoginRegister .register-form li i {
  display: block;
  color: #1a6aa5;
  font-size: 25px;
}

.modalLoginRegister .register-form li:first-child {
  border: none;
}

.modalLoginRegister .register-form li:first-child i {
  color: #3ab6e2;
}

.modalLoginRegister .checkbox {
  text-align: right;
}

.modalLoginRegister .checkbox label {
  font-size: 12px;
}

.modalLoginRegister input[type="checkbox"] {
  display: none;
}

.modalLoginRegister input[type="checkbox"] + span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 5px #000;
  margin-bottom: -5px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.modalLoginRegister input[type="checkbox"]:checked + span {
  border-color: #2d6298;
}

.modalLoginRegister .input-items {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  margin: 10px 0;
}

.modalLoginRegister .input-items span {
  display: inline;
  vertical-align: middle;
  float: left;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  margin-left: -5px;
  margin-top: 6px;
}

.modalLoginRegister .input-items span:after {
  content: "/";
  display: inline-block;
  color: #f7a600;
  position: absolute;
}

.modalLoginRegister .input-items input {
  border: none !important;
  background: transparent !important;
  width: 50%;
  float: left;
  margin: 0;
}

.modalLoginRegister .input-items-date input {
  width: 30%;
}

.modalLoginRegister .input-items-date input:first-child {
  width: 40%;
}
#sendFriendModal .modal-body {
  padding-top: 30px;
}
.modal .btn-primary {
  width: 100%;
  height: 40px;
}
.form-group.validate-success input {
  border-color: #2d6298;
}

.form-group.validate-success:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  right: 0;
  top: 5px;
  font-size: 20px;
  color: #2d6298;
}

/* user-dashboard
--------------------------------------------------*/
/* .user-dashboard {
} */

.user-dashboard .left-block {
  background: #ddebf9;
  border-radius: 5px;
  padding: 15px;
}
.user-dashboard .left-block img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin-top: -45px;
}
.user-dashboard .user-info i {
  width: 25px;
  color: #2d6298;
}
.user-dashboard .left-block label {
  color: #2d6298;
  font-weight: normal;
}
.user-dashboard .left-block .form-group input {
  margin-bottom: 0;
}
span.error {
  color: #aa0000 !important;
  font-size: 12px;
}
.user-dashboard .user-info {
  padding: 15px;
}
.user-dashboard .user-info h2 {
  font-size: 14px;
}
.user-dashboard .user-info ul {
  list-style: none;
  padding: 0;
}
.user-dashboard .user-info ul span {
  min-width: 120px;
  display: inline-block;
}
.user-dashboard .user-info li {
  padding: 5px 0;
  font-size: 12px;
}
.user-dashboard .user-profile-img {
  text-align: right;
  padding: 15px;
  margin-top: 30px;
}
.user-dashboard .user-profile-img img {
  border: 1px solid #ccc;
}
.agent-property-list {
  margin-top: 25px;
}
.agent-property-list h2 {
  font-size: 14px;
}
.agent-property-list .table {
  border: 1px solid #ccc;
  border-radius: 5px;
  border-collapse: separate;
  font-size: 14px;
}
.agent-property-list .table th {
  border: 0;
  padding: 15px 5px;
}
.agent-property-list .table tr:nth-child(even) {
  background: #fcfcfc;
}
.property-list-table td {
  color: #666;
}
.user-setting {
  border-radius: 5px;
  background: #ddebf9;
}
.user-setting ul {
  list-style: none;
  padding: 15px 0;
}
.user-setting li {
  border-bottom: 1px dashed #f1f1f1;
}
.user-setting i {
  color: #d99b1a;
  width: 25px;
}
.user-setting li a {
  padding: 5px 15px;
  display: block;
  font-size: 14px;
}
.user-setting li a:hover {
  background: #ccc;
}
/* agent-lists
--------------------------------------------------*/
/* .agent-lists {
} */
.agent-lists .item-wrap {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.agent-lists .item-img {
  text-align: center;
  margin-bottom: 10px;
}
.agent-lists .item-img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #ccc;
}
.agent-lists .item-content {
  text-align: center;
  padding: 10px 0;
}
.agent-lists .item-footer {
  text-align: center;
}

/* nearest-place
--------------------------------------------------*/
/* .nearest-place {
} */
.nearest-place ul {
  list-style: none;
  padding: 0;
}
.nearest-place ul:after {
  content: "";
  display: block;
  clear: both;
}
.nearest-place li {
  padding: 5px 0;
  font-size: 13px;
  width: 50%;
  float: left;
}
.nearest-place li i {
  color: #2d6298;
  min-width: 15px;
  text-align: center;
}

/* faq
--------------------------------------------------*/
/* .faq-items h4 {
  background-color: #fafafa;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.4s;
  margin: 0;
  border-radius: 5px;
}

.faq-items h4.active,
.faq-items h4:hover {
  background-color: #ddd;
}

.faq-items h4:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.faq-items h4.active:after {
  content: "\2212";
}

.faq-content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 15px;
} */

/* inner-sidebar
--------------------------------------------------*/
.inner-sidebar {
  /*border: 1px solid #ababab;*/
  border-radius: 4px;
}
.inner-sidebar h3 {
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  padding: 15px;
  color: #2d6298;
  margin: 0;
  background: #fafafa;
}
.inner-sidebar .content {
  padding: 15px 15px;
  background: #fafafa;
}
.inner-sidebar .content h4 {
  font-size: 18px;
  margin: 0 0 10px 0;
  padding-bottom: 5px;
}
.inner-sidebar .content p i {
  color: #2d6298;
  padding-right: 10px;
}

.inner-sidebar .content p {
  font-size: 13px;
}
.inner-sidebar ul.content-list {
  list-style: none;
  padding: 0;
}
.inner-sidebar .content-list li {
  padding: 10px 10px 10px 15px;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.inner-sidebar .content-list li i {
  position: absolute;
  vertical-align: middle;
  left: 0;
  width: 15px;
  top: 12px;
  font-size: 20px;
  display: inline-block;
  color: #00a8c6;
}
.inner-sidebar .content li:hover {
  padding-left: 25px;
}
.inner-sidebar .content .social-links {
  padding-top: 0;
}
.inner-sidebar .content .social-links strong {
  font-size: 13px;
  color: #2d6298;
}
.inner-sidebar .content .social-links ul {
  margin: 0;
}
.inner-sidebar .content .social-links li {
  border: 1px solid #2d6298;
}
.inner-sidebar .content .social-links li a {
  width: 40px;
  text-align: center;
}
/* about-items
--------------------------------------------------*/
.about-items h2 {
  color: #2d6298;
  padding-top: 15px;
  margin-bottom: 10px;
}
.about-items ul {
  list-style: none;
}
.about-items ul li {
  padding: 5px 0;
}
.about-items ul li:before {
  content: "\f046";
  display: inline-block;
  font-family: FontAwesome;
  color: #d99b1a;
  padding-right: 5px;
}

.contact-form {
  margin-top: 30px;
}

/* .blog-list {
} */
.blog-list .item-wrap {
  border-bottom: 1px dashed #ccc;
  padding: 15px 0;
}
/* .blog-list .item-img {
} */
.clickToShow {
  color: #480320;
  text-decoration: underline;
  cursor: pointer;
}
.clickToShow:hover {
  text-decoration: none;
  color: #480320;
  padding-left: 5px;
}

/* -------------- ADS SECTION -------------*/

.ads-gallery {
  background-color: #fff;
}
.ads-gallery .item {
  border: 1px solid #E5E5E5;
  margin: 0 0px 0;
  border-radius: 4px;
  margin-bottom: 0;
  display: block;
}
.ads-gallery .item:hover {
  box-shadow: 0 3px 5px 2px #dedede;
}
.ads-gallery .item a {
  display: flex;
}
.ads-gallery .item a img {
  width: 35%;
  margin-right: 13px;
  float: left;
  object-fit: cover;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ads-gallery .ads-desc a {
  font-size: 12px;
  font-weight: bold;
}
/* .ads-gallery .ads-desc a:hover {
  color: rgb(247,147,30);
} */
.ads-desc {
  width: calc(65% - 10px);
}
.ads-gallery .feat-title {
  color: #000;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  margin-top: 20px;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
}
.ads-gallery .uploader-name {
  font-size: 12px;
  color: rgb(151, 149, 149);
  line-height: 14px;
  margin: 3px 0 12px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ads-gallery .featured-type {
  color: rgb(56, 56, 56);
  line-height: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  margin-top: 15px;
}
.ads-gallery .location {
  font-size: 12px;
  color: rgb(116, 116, 116);
  line-height: 14px;
  margin-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ads-gallery .ads-feat-price {
  color: rgb(247,152,39);
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 16px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
}
.ads-gallery .rupiya {
  margin-right: 5px;
}
.ads-gallery .owl-nav {
  background: rgba(0, 0, 0, 0.9) !important;;
  margin-top: unset !important;
}
.ads-gallery .owl-nav i {
  padding: 8px 13px;
}
.ads-gallery .owl-nav .owl-prev {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  left: -20px;
}
.ads-gallery .owl-nav .owl-next {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  right: -20px;
}
.ads-gallery .ads-desc .fa-eye:before {
  margin-right: 5px;
}
.noPad {
  padding: 0px;
}
/* -------------- END OF ADS SECTION -------------*/
/* --------------- START FEATURED AGENTIES ---------  */
.featured-agencies .agents-gallery .img-wrap {
  width: 55px;
  height: 55px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  vertical-align: middle;
  margin-top: 8px;
  display: flex;
}
.featured-agencies img {
  margin: auto;
}
.featured-agencies .owl-nav {
  background: rgba(0, 0, 0, 0.9) !important;;
  margin-top: unset !important;
}
.featured-agencies .owl-nav i {
  padding: 8px 13px;
}
.featured-agencies .owl-nav .owl-prev {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  left: -20px;
}
.featured-agencies .owl-nav .owl-next {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  right: -20px;
}
          /* AGENCIES TOOLTIP */


.tooltip-wrap {
  display: flex;
  vertical-align: unset;
  padding: 7px 0;
  align-items: unset;

}
.tooltip-inner {
  background-color: rgb(39, 39, 39);
  max-width: 300px;
  border-top: 2px solid orange;
  opacity: unset !important;
}
.tooltip-arrow {
  border-top-color: rgb(31, 30, 30) !important;
}
.tooltip-wrap .tooltip-img-wrap {
  margin-right: 10px;
  vertical-align: top;
  width: 80px;
}
.agenciesTooltip .tooltip-img-wrap img {
  width: 70px;
}
.content-wrap {
  font-size: 14px;
  text-align: left;
}
.content-wrap .location, .content-wrap .contact {
  margin-top: 10px;
}
.content-wrap .location i, .content-wrap .contact i {
  margin-right: 5px;
  width: 15px;
  text-align: left;
}
.content-wrap .contact {
  background: transparent;
  border-radius: none;
  padding: 0;
  border: unset;
  color: #fff;
  font-size: 14px;
  display:inline;
  width: 100%;
}
          /* END AGENCIES TOOLTIP */
/* --------------- END OF START FEATURED AGENTIES ---------  */
/* PRIVACY POLICY */
.banner {
  background-image: url('../images/privacy.jpg');
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size: cover;
  height: 150px;
}
.title2 {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
.help-par {
  font-size: 12px;
}
.help-btn {
  display: inline-flex;
}


.policy-title {
  font-weight: 700;
  font-size: 14px;
}
.policy-desc {
  font-weight: normal;
  font-size: 12px;
  margin-top: 15px;
}
.policy-wrap ul {
  margin-top: 15px;
  padding-left: 30px;
}
.policy-wrap ul li {
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
}
.sm-width-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 40px 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
/* END PRIVACY POLICY */

/* FAQ PAGE */
.faq-content {
  padding: 4rem;
  background: #f8f9fa;
}
p.faq-ques {
  font-weight: 600;
}
/* END FAQ PAGE */
/* ACCORDION FAQ  */
#accordion3{
  padding-left: 80px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#accordion3:before{
  content: "";
  width: 3px;
  height: 100%;
  background: #F7931E;
  position: absolute;
  top: 0;
  left: 19px;
  z-index: -1;
}
#accordion3 .panel-title a{
  display: block;
  padding: 10px 30px 15px 0;
  background: transparent;
  font-size: 13px;
  font-weight: 600;
  color: #212529;
  font-family: 'Raleway';
  position: relative;
  transition: all 0.5s ease 0s;
  /* box-shadow: 0 1px 2px rgba(43,59,93,0.30); */
}
#accordion3 .panel-title a:before{
  content: "\f00d";
  font-family: "FontAwesome";
  font-weight: 500;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 50%;
  background: #FFEACE;
  text-align: center;
  font-size: 13px;
  color: #F7931E;
  border: 3px solid #F7931E;
  position: absolute;
  top: 0;
  left: -80px;
}
#accordion3 .panel-title a.collapsed:before{
  content: "\f067";
  background: #fff;
}
#accordion3 .panel-body{
  padding: 15px 15px 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(255, 255, 255, 0.9); */
  font-size: 13px;
  color: #212529;
  line-height: 25px;
  font-family: 'Raleway', sans-serif;
}
/* ACCORDION FAQ */
/* CONTACT PAGE */
.maps {
  background: #f5f5f5;
}
.contact-top {
  background: rgba(0, 0, 0, 0.6);
  padding: 100px 0 0px;
  font-size: 12px;
}
.inner-width {
   width: 767px;
  margin: 0 auto;   
}
.contact-shadow {
  box-shadow: 0 5px 12px 0 rgba(0,0,0,.2);
}
.white-color {
  color: #fff;
}
.form-contact {
  padding: 40px;
  background-color: #fff;
}
.form-contact label {
  font-size: 12px;
}
.form-contact input[type="text"], .form-contact .form-control {
  height: unset;
}
.contact-info {
  background: #F7931E;
  height: 100%;
  padding: 40px;
}
.pr-none {
  padding-right: 0px;
}
.pl-none {
  padding-left: 0px;
}
.form-info {
  position: relative;
  z-index: 5;
  margin-top: -165px;
  padding: 0px 0 60px;
}
.contact-info {
  color: #fff;
  font-size: 12px;
}
.contact-info ul {
  padding: 0;
}
.contact-info ul.cont-info-list li {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.contact-info ul.cont-info-list li i {
  font-size: 20px;
  width: 40px;
  opacity: 0.6;
}
.cont-desc {
  margin: 30px 0 26%;
}
/* END CONTACT PAGE */
/* BlOG LISTING PAGE */
.blog-list {
  padding: 60px;
}
.blog-list .card-text {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   height: 115px;
}
.blog-list .card-text-wrap {
  height: 115px;
  overflow: hidden;
}
/* END BLOG LISTING PAGE */
.featuredBlogCarousel .owl-nav {
  background: rgba(0, 0, 0, 0.9) !important;;
  margin-top: unset !important;
}
.featuredBlogCarousel .owl-nav i {
  padding: 8px 13px;
}
.featuredBlogCarousel .owl-nav .owl-prev {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 50%;
  position: absolute;
  top: 42%;
  left: 0px;
}
.featuredBlogCarousel .owl-nav .owl-next {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 50%;
  position: absolute;
  top: 42%;
  right: 0px;
}
.banner-top {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffeace+0,fff6e9+100 */
background: #FF9D5B; /* Old browsers */
background: -moz-linear-gradient(left,  #ffeace 0%, #ffbe73 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffeace 0%,#ffbe73 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffeace 0%,#ffbe73 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeace', endColorstr='#ffbe73',GradientType=1 ); /* IE6-9 */
  padding: 60px 0;
}
.blog-banner img {
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 12px 5px #E4A861;
  box-shadow: 0px 2px 12px 5px #E4A861;
  ;
}
.banner-link {
  color: #303030;
  background: #F7931E;
  border: 1px solid #F7931E;
  padding: 0.7rem 1.6rem;
  font-size: 13px;
  line-height: 1.1;
  border-radius: 2px;
  max-width: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  white-space: normal;
}
.banner-link:hover {
  color: #fff;
  background: #606060;
  border: 1px solid #606060;
}
.title-light {
  font-size: 20px;
  color: #FF9D5B;
  margin-top: 12px;
  margin-bottom: 15px;
}
.card-title {
  font-weight: 700;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
}
.card-text {
  font-size: 13px;
}

/* BLOG DETAIL PAGE */
.blog-content {
  padding: 4rem;
  border-top: 1px solid #ddd;
}
.blog-content .blog-info {
  text-align: center;
}
.blog-content .blog-title {
  line-height: 1.4;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Raleway';
}
.blog-content .blog-image {
  width: 100%;
}
.blog-content .post-social {
  display: flex;
  justify-content: space-between;
}
.blog-content .post-social .posted-by {
  font-size: 11px;
  font-weight: 500;
  color: #F79522;
  text-align: left;
}
.blog-content .post-social .posted-date {
  color: #9c9c94;
  display: table;
  font-size: 10px;
}
.blog-content .post-social .social-links {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.blog-content .post-social .social-links a {
  font-size: 12px;
  background: transparent;
  color: #F79522;
}
.blog-content .post-social .social-links a:hover {
  color: #303030;
}
.blog-content .post-desc {
  font-family: Montserrat, "Odoo Unicode Support Noto", sans-serif;
  text-align: justify;
  font-size: 12px;
}
/* RELATED BLOG */
.related-blog-content .owl-nav {
  background: rgba(0, 0, 0, 0.9) !important;;
  margin-top: unset !important;
}
.related-blog-content .owl-nav i {
  padding: 8px 13px;
}
.related-blog-content .owl-nav .owl-prev {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  left: -20px;
}
.related-blog-content .owl-nav .owl-next {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  right: -20px;
}
.related-blog-content {
  padding: 4rem 0;
  background: #f9f9f9;
}
/* RELATED BLOG */
/* SITE MAP PAGE */
.sitemap-container {
  width: 1003px;
  margin: 0 auto 0 auto;
  font-size: 12px;
  background: #fff;
}
.greyarea {
  background: #E1E1E1;
  height: 34px;
  margin-top: 35px;
  border-top: 1px solid #999;
}
.logo-container {
  padding: 14px 0 10px 18px;
  background-color: #FFF;
}
.logo-container img {
  width: 200px;
}
.sitemap-container-wrap {
  width: 900px;
  padding: 0 16px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.site-container-wrap {padding: 0 15px}

.site-container-wrap h1 {
  font-size: 18px;
  color: #2a2a2a;
  padding: 13px 0 11px 0;
  border-bottom: solid 1px #dad7d2;
}
#mainSitemap h2 {
  font-size: 13px;
  color: #F79522;
  padding: 13px 0 11px 0;
  margin: 0;
}
#mainSitemap .generalSL ul, #mainSitemap .searchPI ul, #mainSitemap .BSProperty ul  {
  padding: 0;
}
#mainSitemap .generalSL ul li, #mainSitemap .searchPI ul li, #mainSitemap .BSProperty ul li {
  float: left;
  width: 195px;
  list-style-type: none;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  background-position: 0 4px;
}
#mainSitemap .generalSL ul li a, #mainSitemap .searchPI ul li a, #mainSitemap .BSProperty ul li a {
  text-decoration: none;
  color: #3f2aff;
}
#mainSitemap .generalSL ul li a:before, #mainSitemap .searchPI ul li a:before, #mainSitemap .BSProperty ul li a:before {
  font-family: FontAwesome;
  content: "\f178";
  color: #f7a600;
  margin-right: 10px;
}
#footerWrap {
  width: 1003px;
  margin: 0 auto;
}
#footerWrap .copyright {
  margin-top: 20px;
  text-align: center;
  background: none repeat scroll 0 0 #537096;
  color: #CCD4E0;
  font-family: tahoma,Arial,Helvetica,sans-serif!important;
  line-height: 20px;
  padding: 0 0 0 25px;
  font-size: 11px;
}
/* END OF SITEMAP PAGE */
/* CAREER PAGE */
.openPostion {
  padding: 60px 0;
  background: #f9f9f9;
}
.big-title {
  color: #303030;
  font-size: 24px;
  font-size: 30px;
  font-family: 'Raleway';
  font-weight: 600;
}
.openPostion p {
  font-size: 14px;
  padding-top: 15px;
  letter-spacing: 0.5px;
}
.openPostion button {
  margin-top: 25px;
  font-size: 14px;
  padding: 7px 25px;
}
.openPostion .modal button {
  width: unset;
  height: unset;
}
#applyNowModal .modal-dialog {
  max-width: 400px;
}
#applyNowModal label {
  font-size: 12px;
  text-align: left;
}
#applyNowModal input[type="text"], #applyNowModal .form-control, #applyNowModal input[type="file"] {
  height: unset;
  font-size: 12px;
}
#applyNowModal .modal-title {
  font-size: 16px;
  color: #303030;;
}
.career-text {
  padding: 6em 0;
}
.career-text-desc {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-top: 20px;
}
.career-text-wrap {
  width: 800px;
  margin: 0 auto;
}
.career-text-wrap .img-wrap img {
  width: 100%;
  
}
.img-wrap{
  margin-top: 60px;
  
}
.reasons-with-us {
  padding-bottom: 7em;;
}
.reason-desc-wrap {
  display: flex;
  margin-top: 60px;
}
.reason-title {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #303030;
}
.reason-img {
  max-width: 90px;
  margin-right: 50px;
  display: flex;
  flex-direction: column-reverse;
}
.reason-desc p {
  font-size: 11.5px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: #606060;
  font-family: 'Raleway';
}
/* END OF CAREER PAGE */
/* PRICING PLAN */
.pricing-plan
{
  padding: 50px 0;
  border-top: 1px solid #e5e5e5;
}
.heading-title
{
	margin-bottom: 50px;
}

.pricingTable{
    border: 2px solid #e3e3e3;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    transform: translateZ(0px);
}

.pricingTable:before,
.pricingTable:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.pricingTable:before{
    border-right: 2px solid #F7931E;
    border-left: 2px solid #F7931E;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
}

.pricingTable:after{
    border-bottom: 2px solid #F7931E;
    border-top: 2px solid #F7931E;
    transform: scaleX(0);
    transform-origin: 0 100% 0;
}

.pricingTable:hover:before{
    transform: scaleY(1);
}

.pricingTable:hover:after{
    transform: scaleX(1);
}

.pricingTable .pricingTable-header{
    background: #F7931E;
    color: #fff;
    margin: -2px -2px 35px;
    padding: 40px 0;
}

.pricingTable .heading{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.pricingTable .subtitle{
    font-size: 14px;
    display: block;
}

.pricingTable .price-value{
    font-size: 72px;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.pricingTable .currency{
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    top: 2px;
    left: -55px;
}

.pricingTable .month{
    font-size: 20px;
    position: absolute;
    bottom: 17px;
    right: -40px;
}

.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pricingTable .pricing-content li{
    font-size: 16px;
    color: #7a7e82;
    line-height: 40px;
}

.pricingTable .price-signUp {
    display: inline-block;
    border: 2px solid #7a7e82;
    border-right: none;
    font-size: 14px;
    font-weight: 700;
    color: #7a7e82;
    padding: 9px 30px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.pricingTable .price-signUp:hover{
    border-color: #F7931E;
    color: #F7931E;
}

.pricingTable .price-signUp i{
    font-size: 19px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: 15px;
    transition: all 0.3s ease 0s;
}

.pricingTable .price-signUp:hover i{
    right: 5px;
}

.pricingTable .price-signUp:before,
.pricingTable .price-signUp:after{
    content: "";
    display: block;
    height: 30px;
    border-left: 2px solid #7a7e82;
    position: absolute;
    right: -11px;
    transition: all 0.3s ease 0s;
}

.pricingTable .price-signUp:before{
    bottom: -6px;
    transform: rotate(45deg);
}

.pricingTable .price-signUp:after{
    top: -6px;
    transform: rotate(-45deg);
}

.pricingTable .price-signUp:hover:before,
.pricingTable .price-signUp:hover:after{
    border-left-color: #F7931E;
}

@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 25px; }
}
/* END PRICING PLAN */
/* property detail page ads section */
.widget-ads {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.widget-ads img {
  width: 350px;
}
.widget-similar {
  background: #f5f5f5;
  padding: 15px 15px 0;
  margin-bottom: 20px;
}
.widget-similar .recommended-properties {
  margin-top: 0px;
  border-left: unset; 
  padding-left: 0px;
}
.widget-similar .recommended-properties .item {
  padding-bottom: 5px;
}
.widget-similar .recommended-properties .item p strong {
  display: block;
  color: #303030;
  font-weight: 700;
  font-size: 12px;
}
.recommended-properties .item p .location {
  font-size: 11px;
  float: right;
  color: #909090;
  font-weight: 300;
}
.sim-property-title {
  position: relative;
}
.widget-similar .recommended-properties .item .item-img > a {
  display: block;
}
/* .widget-similar .recommended-properties .item .item-img > a::after {

  position: absolute;
    content: '';
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40%;
    z-index: 1;
    background: -webkit-linear-gradient(left top, #000, transparent);
    background: -o-linear-gradient(bottom right, #000, transparent);
    background: -moz-linear-gradient(bottom right, #000, transparent);
    background: linear-gradient(to top, #000, transparent);
    opacity: 0.8;
} */
.sim-property-title a {
  position: absolute;
  background: -webkit-linear-gradient(left top, #000, transparent);
  background: -o-linear-gradient(bottom right, #000, transparent);
  background: -moz-linear-gradient(bottom right, #000, transparent);
  background: linear-gradient(to top, #000, transparent);

  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #fff;
  padding: 5px;
  bottom: 0px;
  display: block;
  width: 100%;
  font-size: 12px;
  max-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
/* end property detail page ads section */
#custCarousel .carousel-indicators {
  position: static;
  margin-top: 10px;
  margin-right: unset; 
  margin-left: unset; 
  display: inline-flex;
  column-gap: 10px;
  margin-bottom: 30px;
}

#custCarousel .carousel-indicators>li {
  width: 129px;
  height: 78px;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  background: #3e3e3e;
  margin: 0;
  border: 1px solid transparent;
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75
}

.carousel-item img {
  width: 100%
}
#custCarousel.carousel {
  width: 100%;
  overflow: hidden;
}
#custCarousel .fa-chevron-left, #custCarousel .fa-chevron-right {
  font-size: 18px;
    padding: 20px 10px;
  background: rgba(0, 0, 0, 0.6);
}
#custCarousel .fa-chevron-left:hover, #custCarousel .fa-chevron-right:hover {
  background: rgba(0, 0, 0, 0.8);
}
#custCarousel .carousel-control-next {
  right: -39px;
}
#custCarousel .carousel-control-prev {
  left: -39px;
}

/* .top-ads SECTION */
.top-ads {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 0;
  column-gap: 10px;
}
/* .top-ads-left {
  grid-column-start: 1;
  grid-column-end: 2;
} */
/* ENDS .top-ads SECTION */