/* lg */
/* md */
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
  }
  .navbar-default .nav > li > a {
    padding: 10px 11px;
  }
  .search-form {
    margin: 120px auto 50px;
  }
}
/* xs */
@media (max-width: 567px) {
  .blog-banner img {
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 12px 5px #aaa;
    box-shadow: 0px 2px 12px 5px #aaa;
    margin-top: 15px;
  }
}
/* xs */
@media (max-width: 767px) {
  .main-header .logo {
    max-width: 120px;
  }
  .top-bar ul {
    padding-left: 0px;
  }
  .top-bar li a {
    
  }
  .navbar-default .navbar-right {
    padding-left: 0;
  }
  .search-form {
    margin: 50px auto 50px;
  }
  .list-feature {
    padding: 30px 0;
  }
  .feature-items .item-img {
    height: auto;
  }
  .list-category .item {
    padding-bottom: 25px;
  }
  .top-ads {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 0;
    column-gap: 0px;
  }
  .top-ads-left {
    grid-column-start: 0;
    grid-column-end: 1;
    margin-bottom: 10px;
  }
}

/* XS Portrait */
@media (max-width: 700px) {
  /* modalLoginRegister */
  .modalLoginRegister .left-block {
    width: 100%;
  }
  .modalLoginRegister .right-block {
    width: 100%;
  }
  .modalLoginRegister .left-block > img {
    width: 100%;
    position: static;
  }
  .modalLoginRegister .close {
    color: #fff !important;
  }
  .modalLoginRegister .right-block h4 {
    margin-top: 5px;
  }
  .modalLoginRegister .left-block-content {
    padding: 10px 15px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .modalLoginRegister .signin-option {
    padding-top: 0;
  }
  .modalLoginRegister .left-block {
    position: relative;
  }
  .modalLoginRegister .left-block > img {
    width: 100%;
    position: absolute;
    height: 100%;
  }
  .modalLoginRegister .left-block-content {
    position: relative;
  }
}

/* flex display */
@media (min-width: 0px) and (max-width: 767px) {
  .fsi-row-xs-level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .fsi-row-sm-level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .fsi-row-md-level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .fsi-row-lg-level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*# sourceMappingURL=responsive.css.map */
