/* Buttons */

.btn-button{
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid $color-primary !important;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 15px;
	background: lighten( $color-primary, 10% );
	color: $color-white;
	&:hover{
		background: $color-primary;
		color: $color-white;
	}
}