/*
 * pagination
 * -----------------------------
/*/

.pagination{
  width: 100%;
  ul{
    list-style: none;
    padding: 0;
    text-align: center;
  }
  li{
    display: inline-block;
    padding: 5px;
    &.active a, &:hover a{
      background: $color-primary;
      border-color: $color-primary;
      color: $color-white;
    }

  }
  a{
    width: 35px;
    height: 35px;
    display: block;
    line-height:2;
    border: 1px solid $color-border;
  }
}

/*
 * breadcrumb
 * -----------------------------
/*/
.breadcrumb{
  margin-top:5px;
  background: transparent;
  padding: 0;
  ul{
    background: $color-bg;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 5px;

  }
  li{
    display: inline-block;
    padding: 0 7px;
    color: $color-primary;
    &:after{
      content:'/';
      display: inline-block;
      padding-left: 15px;
    }
    &:last-child:after{
      content: '\203A \203A';
      color: $color-secondary;
      font-size: 20px;
    }
    &.active, a:hover{
      color: $color-secondary;
    }
  }
}//.breadcrumb

/* custom-aside
--------------------------------------------------*/
.custom-aside{
  border: 1px solid $color-border;
  background: $color-bg;
  padding: 25px 15px 15px;
  margin-top: 15px;
  h2{
    font-size: 16px;
    margin-bottom: 10px;
  }
  a{
    color: $color-primary;
    &:hover{
      text-decoration: underline;
    }
  }
}