/*input field*/
input, select, textarea {
	outline: none;
	color: $base-font-color;
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	background-color: #ffffff;
	border: 1px solid $color-border;
	margin-bottom: 15px;
	border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
	outline: none;
}

/* input field text */
input[type="text"], .form-control{
	display: block;
	width: 100%;
	height: 40px;
	padding: 6px 12px;
	font-size: 15px;
	border: 1px solid $color-border;
	border-radius: 4px;
	box-shadow: none;
}
.form-control:focus{
	outline: none;
	box-shadow: none;
}
label{
	color: $color-dark;
}

/*submit field*/
input[type='submit'], button{
	cursor: pointer;
	width:  100%;
}

textarea {
	height: 70px;
	resize: vertical;
	padding: 10px 5px;

}
input[type='radio'], input[type='checkbox']{
	height: auto;
	cursor: pointer;
	float: left;
	width: auto;
	margin-right: 5px;
}
input[type='radio'] + strong{
	float: left;
	padding-right: 15px;
}

input[type='file']{
	width: auto;
	border: none;
	padding: 0;
	margin-right: 10px;
	&:focus{
		border: none;
		outline: none;
	}
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: rgba($color-dark, 0.3);
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	color: rgba($color-dark, 0.5);
}