/* ==========================================================================
   Sections
   ========================================================================== */

/* banner
--------------------------------------------------*/
.main-banner{
	@include background-size(cover);
	position: relative;
	&:before{
		content:'';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom:0;
		background: rgba($color-dark, 0.7);
	}
}
.search-form{
	max-width: 767px;
	margin: 200px auto 50px;
	padding: 15px;
	background: rgba($color-primary, 0.9);
	border-radius: 10px;
	position: relative;
	h2, p{
		color: $color-white;
		text-align: center;
		margin-bottom: 10px;
	}
	.btn-button{
		background: $color-white;
		color: $color-primary;
		border-radius: 4px;
		height: 40px;

		&:hover{
			background: $color-white;
			color: $color-secondary;
		}

	}
}

/* list-feature
--------------------------------------------------*/

.list-feature{
	h2{
		font-weight: normal;
		margin-bottom: 10px;
	}
}
.feature-items{

	.item-wrap{
		background: $color-bg;
		margin: 15px 0;
	}
	.item-img{
		margin-bottom: 10px;
		height: 190px;
		position: relative;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		strong{
			position: absolute;
			font-weight: normal;
			padding: 5px 10px;
			top:5px;
			right: 0;
			color: $color-white;
			background: rgba($color-primary, 0.8);
			font-size: 0.8em;
		}
		span{
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 3px 12px;
			background: rgba($color-dark, 0.7);
			color: $color-white;
			font-size: 0.9em;
		}
	}
	.item-title{
		padding: 0 10px 10px;
		border-bottom: 1px dashed $color-border;
		font-size: 14px;
		p{
			padding: 0;
		}
		i{
			display: block;
			float: left;
			padding-top: 4px;
			min-width: 25px;
			color: $color-secondary;
		}
	}
	.item-content{
		padding: 15px 10px;
		height: 71px;
		h3{
			padding: 0;
			color: $color-primary;
			margin:0;
			font-weight: normal;
			font-size: 15px;
			text-align: center;
		}

	}
	.item-footer{
		border-top: 1px dashed $color-border;
		text-align: center;
		a{
			padding: 15px 10px;
			color: $color-secondary;
			display: inline-block;
			position: relative;
			overflow: hidden;
			&:after{
				content: '';
				display: inline-block;
				width: 100%;
				height: 2px;
				position: absolute;
				left: -100%;
				bottom: 15px;
				background: $color-primary;
				@include transition(0.2s all linear);
			}
			&:hover{
				color: $color-primary;
				&:after{
					left: 0;
				}
			}
		}
	}
}

/* list-category
--------------------------------------------------*/
.list-category{
	padding-bottom: 50px;
	text-align: center;
	i{
		font-size: 50px;
		padding-bottom: 15px;
		color: $color-primary;
	}
	a{
		display: block;
		color: $color-primary;
		margin-bottom: 5px;
		@include transition(all 0.1s linear);
		&:hover{
			margin-top: 5px;
			margin-bottom: 0;
			border-bottom: none;

		}
	}
}

.social-links{
	strong{
		font-weight: normal;
		font-size: 20px;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		margin-top: 20px;
	}
	li{
		display: inline-block;
	}
	a{
		display: block;
		font-size: 20px;
		padding: 10px;
		&:hover{
			margin: 0;
			color: $color-secondary;
		}
	}
}

/* main-content
--------------------------------------------------*/
.main-content{
	padding: 60px 0;
}

/* inner-search-form
--------------------------------------------------*/
.inner-search-form{
	background: lighten($color-secondary, 1%);
	padding: 25px 15px;
	border-radius: 5px;
	margin-bottom: 30px;
	.form-control{
		border-radius: 0;
		height: 40px;
		box-shadow: none;
		border-color: $color-border;
	}
}

/* single-article
--------------------------------------------------*/
.single-article{
	.item-feature{
		ul{
			list-style: none;
			padding: 0;
		}
		li{
			padding: 5px 0;
			&:before{
				content: '\21D2';
				display: inline-block;
				padding-right: 10px;
				color: $color-secondary;
			}
		}
	}
	h2{
		margin: 25px 0 10px 0;
	}
	.tab-nav{
		margin-top: 15px;
		list-style: none;
		padding: 0;
		margin-bottom: 0;
		z-index: 9;
		position: relative;

		li{
			display: inline-block;
			background: $color-white;
			&.active a{
				border-bottom-color: transparent;
				color: $color-primary;
			}
		}
		a{
			border: 1px solid $color-border;
			padding: 7px 15px;
			display: inline-block;
		}
	}
	.tab-content{
		border: 1px solid $color-border;
		padding: 15px;
		margin-top: -1px;
		h2{
			margin-top: 10px;
		}
	}
	.title-view-full{
		a{
			margin: 15px 0 5px;
			display: inline-block;
			color: $color-primary;
			text-decoration: underline;
			i{
				padding-right: 5px;
				text-decoration: none;
			}
		}
	}
	.floorplan{
		img{
			width: 100%;
		}
	}
	.map-street{
		h4{
			margin: 10px 0 0;
		}
		p{
			font-size: 13px;
		}
	}
}
.article-title{
	padding: 10px 0 15px;
	h1{
		margin-bottom: 5px;
		color: $color-primary;
	}
	p{
		font-size: 18px;
		padding-bottom: 5px;
		color: $color-secondary;
		strong{
			color: $color-primary;
		}
	}
}
.disclaimer-content{
	margin-top: 15px;
	font-size: 13px;
	strong{
		font-size: 16px;
		color: $color-secondary;
	}
}
.main-sidebar .property-info{
	border: 1px solid $color-border;
	.inner{
		background: transparent;
		padding: 15px 0 0 0;
	}
	strong{
		color: $color-secondary;
		font-weight: normal;
	}
	.property-img {
		img {
			border: 1px solid $color-border;
			border-radius: 5px;
		}
	}
	.view-agent{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	p{
		padding: 0 15px 10px 15px;

	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li{
		border-top: 1px dashed $color-border;
		padding: 15px 15px;
		p{
			padding: 0;
		}

		a:hover i{
			color: $color-primary;
			@include animation(fadeInDown 0.4s linear);
		}
		i{
			padding-right: 10px;
		}
		.fa-heart-o{
			color: red;
		}
	}
	.social-links{
		li{
			border: none;
			padding: 0;
			margin: 5px 5px 0 0;
		}
		a{
			text-align: center;
			border: 1px solid $color-primary;
			width: 40px;
			height: 40px;
			&.fa-facebook{
				color: #3b5999;
				border-color: #3b5999;
				&:hover{
					background: #3b5999;
					color: $color-white;
				}
			}
			&.fa-twitter{
				color: #5aadde;
				border-color: #5aadde;
				&:hover{
					background: #5aadde;
					color: $color-white;
				}
			}
			&.fa-google-plus{
				color: #cf2128;
				border-color: #cf2128;
				&:hover{
					color: $color-white;
					background: #cf2128;
				}
			}

		}
	}
	.request-details{
		text-align: center;
		.btn-button{
			margin-bottom: 10px;
			&:hover{
				text-decoration: none;
			}
		}
		a:hover{
			text-decoration: underline;
		}
	}
}
/*post-listing
--------------------------------------------------*/
.post-listing{
	.item{
		border-bottom: 1px dashed $color-primary;
		padding: 15px 0;
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
	.item-img{
		width: 30%;
		float: left;
		margin-right: 5%;
	}
	.item-content{
		h2{
			color: $color-primary;
			font-size: 17px;
		}
		p a{
			color: $color-secondary;
			&:hover{
				text-decoration: underline;
			}
		}
		.meta a{
			text-decoration: underline;
			color: $base-font-color;
		}

	}
}
/*overseas-listing
--------------------------------------------------*/
.overseas-listing{
	.item{
		border-bottom: 1px dashed $color-primary;
		padding: 15px 0;
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
	.item-img{
		width: 25%;
		float: left;
		padding-right: 15px;
		span{
			padding-top: 3px;
			display: inline-block;
			color: $color-secondary;
		}
	}
	.item-content{
			width: 75%;
			float: left;
		p{
			padding-bottom: 3px;
			a{
				text-decoration: underline;
				color: $color-primary;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.price{
			color: $color-primary;
		}
		.name{
			color: $color-secondary;
			font-size: 18px;
			a{
				text-decoration: none;
				color: $color-secondary;
			}
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}
		li{
			display: inline-block;
			color: $color-primary;
			a{
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

/* contact-block
--------------------------------------------------*/
.contact-block{
	h2{
		font-size: 18px;
		font-weight: normal;
	}
	h3{
		font-size: 16px;
		font-weight: normal;
	}
	.top-content{
		background: lighten($color-primary, 20%);
		color: $color-white;
		padding: 15px;
		border-radius:10px;
		margin-bottom:30px;
		border: 1px solid $color-primary;
		h3:last-child{
			margin-bottom: 0;

		}
	}
	.contact-form{
		h2{
			font-size: 14px;
			font-weight: normal;
		}
		.btn-button{
			float: right;
			width: auto;
			min-width: 150px;
		}
	}
}
.contact-info-sidebar{
	ul{
		list-style: none;
		padding: 0;
	}
	h3{
		font-size: 18px;
	}
	h2{
		margin:20px 0 10px;
		font-size: 17px;
		color: $color-primary;
	}
	a.view-directions{
		color: $color-primary;
		margin-bottom: 10px;
		display: inline-block;
		font-size: 13px;
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}
	p{
		font-size: 12px;
	}
}

/* Faq Block
--------------------------------------------------*/
.faq-block{
	.top-content{
		ul{
			list-style: none;
			padding: 0;
			margin-bottom: 20px;
		}
		h3{
			margin: 0 0 5px 0;
			font-weight: normal;
			font-size: 18px;
			color: $color-dark;
		}
		a{
			text-decoration: underline;
			color: $color-primary;
			display: inline-block;
			padding: 5px 0;
			&:hover{
				padding-left: 10px;
			}
		}
	}
	.faq-details{
		h2{
			font-weight: normal;
			margin: 20px 0 5px 0;
		}
	}
}

/* overseas-property
--------------------------------------------------*/
.overseas-property{
	.row{
		margin: 0 -5px;
	}
	.item{
		padding: 5px;
	}
	.item-wrap{
		position: relative;
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			display: block;
			background: rgba($color-dark, 0.3);
		}
		&:hover h3{
			top: auto;
			bottom: 50%;
			@include translate(0, 50%);
		}
		&:hover:before{
			background: rgba($color-dark, 0.1);
		}
	}
	img{
		width: 100%;
		height: 150px;
		-o-object-fit: cover;
	}
	h3{
		position: absolute;
		left: 0;
		bottom: 10px;
		width: 100%;
		text-align: center;
		color: $color-white;
		margin: 0;
		text-shadow: 1px 1px 15px $color-black;
		@include transition(0.3s all linear);
	}
}

/* overseas-property-search
--------------------------------------------------*/
.overseas-property-search{
	padding-top: 25px;
	.single-ads{
		display: block;
		img{
			width: 100%;
		}
		margin-bottom: 15px;
	}
	.items{
		@include columnCount(3, 15px);
	}
	.item {
		break-inside: avoid;
		margin-top: 15px;
		border: 1px solid $color-border;
		&:first-child{
			margin-top: 0;
		}
		h3{
			background: $color-primary;
			color: $color-white;
			padding: 15px 10px;
			margin: 0;
		}
	}
	ul{
		list-style: none;
		padding: 0;
	}
	li{
		padding: 5px 10px;
		a:hover{
			text-decoration: underline;
		}
	}
}

/* recommended-properties
--------------------------------------------------*/
.recommended-properties{
	margin-top: 25px;
	border: 1px solid $color-border;
	padding: 15px;

	h3{
		color: $color-secondary;
		font-size: 16px;
		border-bottom: 2px solid $color-primary;
		padding-bottom: 5px;
	}
	.item{
		padding-bottom: 15px;
		p{
			padding: 0;
			span{
				color: $color-secondary;
				font-weight: bold;
			}
			strong{
				display: block;
				color: $color-primary;
				font-weight: normal;
			}
		}
	}
	.item-img{
		margin-bottom: 5px;
		img{
			width: 100%;
		}
	}
}

/* agent-content
--------------------------------------------------*/
.agent-content{
	h1{
		font-size: 18px;
		margin-bottom: 5px;
	}
	.item{
		padding-bottom: 15px;
	}
}
.agent-search{
	background: $color-bg;
	padding: 30px 15px 10px 15px;
	margin-bottom: 30px;
	.agent-search-wrap{
		max-width: 700px;
		margin: 0 auto;
	}
	h3{
		color: $color-secondary;
	}
	.search-control{
		position: relative;

		.form-control{
			padding-right: 150px;
		}
		.btn-button{
			position: absolute;
			right:0;
			top: 0;
			max-width: 150px;
		}
	}
	.form-group{

	}
	.clearfix{
		display: block;
	}
}
/* agent-sidebar
--------------------------------------------------*/
.agent-sidebar{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.item{
		margin-bottom: 25px;
		border-radius: 5px;
		overflow: hidden;
		border: 1px solid $color-border;
		background: $color-bg;
		a > img{
			width: 100%;
		}
	}
	.item-wrap{
		h2{
			color: $color-primary;
			font-size: 18px;
			margin-bottom: 5px;
			padding: 20px 15px;
			border-bottom: 1px solid $color-primary;
		}
		li{
			padding: 10px 15px;
			border-bottom: 1px dashed $color-border;
			&:last-child{
				border: none;
			}
			a{
				@include transition(0.3s all linear);
				display: inline-block;
				&:before{
					font-family: FontAwesome;
					content: '\f054';
					display: inline-block;
					color: $color-primary;
					padding-right: 10px;
				}
				&:hover{
					&:before{
						color: $color-secondary;
						@include animation(fadeInLeft 0.3s linear);
					}
				}
			}
		}
	}
}

/* overseas-find-apartment-house
--------------------------------------------------*/
.overseas-find-apartment-house{
	padding-top: 10px;
	h2{
		font-size: 18px;
		color: $color-primary;
		margin-bottom: 10px;
	}
	.item-box{
		border: 1px solid $color-border;
		padding: 0 15px;
		border-radius: 5px;
		h3{
			border-bottom: 2px solid $color-secondary;
			padding: 15px 15px;
			margin: 0 -15px 5px -15px;
		}
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			@include columnCount(2);
		}
		li{
			padding: 5px 0;
			color: $color-primary;
			a:hover{
				text-decoration: underline;
			}
			span{
				color: $color-secondary;
			}
		}
	}
}

/* overseas-search-form
--------------------------------------------------*/
.overseas-search-form{
	h3{
		color: $color-primary;
		font-size: 16px;
	}
	.form-group{
		label{
			width: 34%;
			float: left;
		}
		.form-control{
			float: left;
			width: 66%;
		}
	}
	.btn-button{
		width: auto;
		float: right;
		min-width: 120px;
	}
}

/* request-details-form
--------------------------------------------------*/
.request-details-form{
	.form-group{
		&:after{
			content: '';
			display: block;
			clear: both;
		}
		p{
			color: $color-dark;
			font-weight: bold;
		}
	}
	.form-control, select, .input-adjust{
		margin-bottom: 0;
		width: calc(100% - 190px);
		float: left;
	}
	.input-adjust{
		.form-control{
			width: 100%;
		}
	}
	label {
		width: 190px;
		float: left;
		span{
			color: #ff0000;
		}

	}
	.is-invalid{
		input, textarea{
			border-color: #ff0000;
		}
	}
	.info{
		float: right;
	}
	.btn-button{
		width: 190px;
		float: right;
	}
	.info-content{
		margin-top: 15px;
		h3{
			margin-bottom:0;
			font-weight: normal;
			color: $color-primary;
		}
	}
	.checkbox label{
		width: 100%;
	}

}

/* location-search
--------------------------------------------------*/
.location-search{
	background: $color-bg;
	padding: 30px 15px 10px 15px;
	margin-bottom: 30px;
	.location-search-wrap{
		max-width: 700px;
		margin: 0 auto;
	}
	h3{
		color: $color-primary;
	}
	.search-control{
		position: relative;
		border: 15px solid $color-secondary;
		background: $color-secondary;
		border-radius: 4px;
		.form-control{
			padding-right: 300px;
			margin: 0;
			border-radius: 0;
		}
		.btn-button{
			position: absolute;
			right:150px;
			top: 0;
			max-width: 150px;
			border-radius: 0;
			&:last-child{
				right: 0;
			}
		}
	}
}