/*
 * Component: Global styles
 * -----------------------------
/*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
//font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');
//font-family: 'Noto Sans', sans-serif;

html, body {
	height: 100%;
	font-size: $base-font-size;
}
body{
	font-family: $base-font-family;
	font-size: 15px;
	color: $base-font-color;
	background: $color-white;
	margin: 0;
	padding: 0;
	font-weight: 400;
	word-wrap: break-word;
}

/*
 * Component: Typography
 * -----------------------------
/*/
 
 

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px 0;
	padding: 0;
	font-weight: bold;
}

h1 {
	@include font-size(1rem);
	color: $color-primary;
	font-size: 25px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
	@include transition(all 0.3s linear);
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

p {
	margin: 0;
	font-weight: 400;
	padding-bottom: 10px;
}

img {
	max-width: 100%;
	height: auto;
}
.no-margin{
	margin: 0 !important;
}