// Mixins */

// generic transform
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

// rotate
@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	@include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
	moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}

//transition
@mixin transition($args) {
	-o-transition: $args;
	-ms-transition: $args;
	-moz-transition: $args;
	-webkit-transition: $args;
	transition: $args;
}

//animation
@mixin animation($str) {
	-webkit-animation: $str;
	-moz-animation: $str;
	-ms-animation: $str;
	-o-animation: $str;
	animation: $str;
}

//opacity
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacify=$opcity-ie); //IE8
}

//column count
@mixin columnCount($count, $gapPx:0) {
	-webkit-column-count: $count; /* Chrome, Safari, Opera */
	-moz-column-count: $count; /* Firefox */
	column-count: $count;

	-webkit-column-gap: $gapPx; /* Chrome, Safari, Opera */
	-moz-column-gap: $gapPx; /* Firefox */
	column-gap: $gapPx;
}

//px to rem convert
@function calculateRem($size) {
	$remSize: $size / 1rem * $base-font-size;
	@return $remSize;

}

@mixin font-size($size) {
	font-size: calculateRem($size);
	font-size: $size;
}

//keyframes
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
//@include keyframes(bounce){
//	from, 20%, 53%, 80%, to {
//		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//		-webkit-transform: translate3d(0,0,0);
//		transform: translate3d(0,0,0);
//	}
//
//	40%, 43% {
//		-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//		-webkit-transform: translate3d(0, -30px, 0);
//		transform: translate3d(0, -30px, 0);
//	}
//
//	70% {
//		-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//		-webkit-transform: translate3d(0, -15px, 0);
//		transform: translate3d(0, -15px, 0);
//	}
//
//	90% {
//		-webkit-transform: translate3d(0,-4px,0);
//		transform: translate3d(0,-4px,0);
//	}
//}
//border radius
@mixin border-radius($radius){
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
	border-radius:$radius;
}

@mixin add-border($size, $color, $position){
	@if $position == 'all'{
		border:$size solid $color;
	} @else if $position == 'top'{
		border-top:$size solid $color;
	} @else if $position == 'bottom'{
		border-bottom:$size solid $color;
	} @else if $position == 'right'{
		border-right:$size solid $color;
	} @else if $position == 'left'{
		border-left:$size solid $color;
	} @else if $position == 'top-bottom'{
		border-top:$size solid $color;
		border-bottom:$size solid $color;
	} @else if $position == 'right-left'{
		border-left:$size solid $color;
		border-right:$size solid $color;
	}
}

@mixin add-background($color){
	background:$color;
	@if $color == $light-color{
		color:#666666;
	} @else {
		color:#ffffff;
	}
}

//box-shadow
@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $size $color;
		-moz-box-shadow:inset $top $left $blur $size $color;
		box-shadow:inset $top $left $blur $size $color;
	}
	@else {
		-webkit-box-shadow: $top $left $blur $size $color;
		-moz-box-shadow: $top $left $blur $size $color;
		box-shadow: $top $left $blur $size $color;
	}
}

//background-cover
@mixin background-cover($img-uri) {
	background: url($img-uri) no-repeat 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// background size
@mixin background-size($args...) {
	-webkit-background-size: $args;
	-moz-background-size: $args;
	-o-background-size: $args;
	background-size: $args;
}

//text shadow
@mixin text-shadow($horizOffset, $vertOffset, $blur, $color) {
	-webkit-text-shadow: $horizOffset $vertOffset $blur $color;
	-moz-text-shadow: $horizOffset $vertOffset $blur $color;
	-ms-text-shadow: $horizOffset $vertOffset $blur $color; /* IE 10+ */
	-o-text-shadow: $horizOffset $vertOffset $blur $color;
	text-shadow: $horizOffset $vertOffset $blur $color;
}

//text centering
@mixin centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);
}

//gradient
@mixin linearGradient($top, $bottom){
	background: $top; /* Old browsers */
	background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}