//base font
$base-font-size: 10px;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-color: #686d6f;


//colors
$color-primary: #2d6298;
$color-secondary: #f7a600;

$color-light: #a0a0a0;
$color-dark: #242424;
$color-white: #fff;
$color-black: #000;


//color-bg
$color-bg: #f6f6f6;
$color-border: #d6d6d6;
