/*
 * Main footer
 * -----------------------------
/*/
.main-footer{
  background: $color-dark;
  padding: 30px 0 15px;
  h2{
    font-size: 18px;
    margin-bottom: 10px;
    color: $color-primary;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    a{
      padding: 2px 0;
      display: block;
      @include transition(all 0.1s linear);
      color: $color-white;
      &:hover{
        padding-left: 5px;

      }
    }
  }
}
.copyright{
 border-top: 1px solid $color-border;
  padding-top: 15px;
  margin-top: 15px;
  p{
    padding: 0;
    text-align: center;
  }
}