/* main-header
--------------------------------------------------*/
.main-header{
  position: relative;
  .logo{
    position: absolute;
    top: 5px;
    left: 15px;
    max-width: 130px;
    z-index: 9;
  }
}
.top-bar{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    display: inline-block;
    a{
      padding: 10px 15px ;
      font-size: 12px;
      display: block;
      color: $base-font-color;
    }
  }//li
}//.top-bar