/*
 * Navbar navbar-default
 * -----------------------------
/*/

.navbar-default{
	border-color: $color-primary;
	border-right: none;
	border-left: none;
	background: transparent;
	margin: 0;
	border-radius: 0;
	min-height: 0;
	a{
		font-weight: bold;
	}
	.navbar-toggle {
		border: none;
		margin: 0;
		width: auto;
		float: right;
		&:hover, &:focus{
			background: transparent;
		}
	}
	.navbar-right{
		padding-left: 120px;
	}
}




.navbar-toggle .icon-bar {
	transition: 0.4s;
	width: 30px;
	height: 4px;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 4px);
	transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-5px, -7px);
}