/*
 * Main sidebar
 * -----------------------------
/*/

/* widget
--------------------------------------------------*/

.widget{
	clear: both;
	margin-bottom: 20px;
	&>h2{
		text-transform: uppercase;
		font-size: 18px;
		margin-top: 30px;
		margin-bottom: 15px;
		padding-bottom: 15px;
		color: $color-primary;
		border-bottom: 1px solid $color-secondary;
	}
	.inner{
		background: $color-bg;
		padding: 15px;
	}
}


.widget-list{
	ul{
		list-style: none;
		padding: 0;
	}
	li{
		position: relative;
		padding: 5px 0 5px 25px;

		a:before{
			display: inline-block;
			font-family: FontAwesome;
			content: '\f041';
			position: absolute;
			top:0;
			left: 0;
			padding-right: 5px;
			font-size: 30px;
			color: $color-dark;
		}
		a:hover:before{
			color: $color-secondary;
		}

		span{
			display: block;
			color: $color-primary;
			&.text-right{
				color: $color-secondary;
			}
		}
	}
}

.widget.tags{
	ul{
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
			margin: 2px 1px;
		}
		a{
			background: $color-primary;
			padding: 5px 10px;
			display: block;
			color: $color-white;
			&:hover{
				background: lighten($color-primary, 5%);
			}
		}
	}

}
.widget.tabs{
	.nav{
		a{
			background: $color-secondary;

			border: none;
			color: #fff;
			font-weight: bold;
		}
	}
	li.active a{
		background: $color-primary;
	}
	.nav-justified>li {
		width: 50%;
		float: left;
	}
}

.widget-items{
	.item{
		position: relative;
		min-height: 65px;
		border-bottom: 1px dashed $color-primary;
		padding-bottom: 10px;
		margin: 10px 0;
		&:last-child{
			border: none;
			margin-bottom: 0;
			padding: 0;
		}
	}
	.item-img{
		position: absolute;
		width:80px;
		height: 55px;
		top: 0;
		left: 0;
		img{
			width:  100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.item-content{
		padding-left:  88px;
		h2{
			font-size: 15px;
			color: $color-primary;
			margin-bottom: 5px;

			a:hover{
				color: darken($color-secondary, 10%);
			}
		}
		p{
			color: $color-dark;
			font-style: italic;
		}
	}
}
a.view-all{
	width: 100%;
	display: block;
	text-align: center;
	text-decoration: underline;
	padding: 10px 0 10px 0;
	color: $color-secondary;
	background: $color-primary;
	margin-top: 8px;
	&:hover{
		text-decoration: none;
	}
}

.widget.ads{
	.row{
		margin: 0 -5px;
		.col-xs-6{
			padding: 0 5px;
		}
	}
	img{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
}